<div class="loginContainer">
    <!-- <a href="/" class="brand-logo left"> <img src="../../../assets/img/normsup-logo.png" alt=""></a> -->
    <div class="container">

        <div class="row">

            <form method="" action="" class="col s12">
                <div class="colorDiv col s12">
                    <img style='height: 95px;' src="../../../assets/img/normsup-logo.png" alt="">
                    <h1 class="col s12">Connexion</h1>
                    <div>
                        <label for="username" class="error" [ngClass]="iserror"> <img src="../../../assets/img/error-icn.svg" alt="" >&nbsp;&nbsp; Please enter a valid username or email address.</label><br>
                        <label for="password" class="error" [ngClass]="iserror1"><img src="../../../assets/img/error-icn.svg" alt="">&nbsp;&nbsp;Please enter a valid password.</label><br>
                    </div>
                    <div class="input-group has-feedback has-feedback-left mb-3 login-input-container">
                        <input type="email" class="form-control input-style" placeholder="Username" name="username" [(ngModel)]='credentials.username' (focus)='remove()' required>
                        <i style="z-index: 4;color: #2786C4;" class="material-icons prefix form-control-feedback">account_circle</i>
                    </div>

                    <div class="input-group has-feedback has-feedback-left mb-3 login-input-container">
                        <input type="password" class="form-control input-style" placeholder="Password" name="password" [(ngModel)]='credentials.password' (focus)='remove()' required>
                        <i style="z-index: 4;color: #2786C4;" class="material-icons prefix form-control-feedback">lock</i>
                    </div>

                </div>

                <div class="col s12">
                    <button style="position: relative;" type="submit" class="btn" name="submit" (click)='validate()'>
                            <span class="searchText">Connexion</span>
                        <i class="material-icons right login-icn">navigate_next</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <app-modal [title]='title' [message]='message' [type]='type' (modalClose)='modalClose()' (redirectLogin)='redirectLogin()'></app-modal> -->

<div class="spinner-container" [ngClass]="{'show':isLoader}">
    <div class="cs-loader">
        <div class="cs-loader-inner">
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
            <label>	●</label>
        </div>
        <h3 class="spinner-text">Please wait</h3>
    </div>
</div>