@import "src/assets/css/variable";

.client-details-cont {
  height: 100%;
}

.button-txt {
  font-family: 'Roboto Medium';
  font-size: 13px;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.comp-btn {
  width: 100%;
  border: 1px solid #C7E0FF !important;
  padding: unset !important;
  box-shadow: unset;
  text-transform: unset;

  .button-txt {
    color: #4E5983;

    &:hover {
      color: white;
    }
  }
}

.client-card-row {
  padding-top: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid $normsup-border-grey;
}

.basic-txt {
  font-family: 'Roboto Medium';
  font-size: 15px;
  letter-spacing: 0;
  color: $normsup-dark-blue;
}

.status-document {
  font-family: 'Roboto';
  font-size: 14px;
}

.status-document-valid {
  color: $normsup-valid-green;
}

.status-document-invalid {
  color: $normsup-invalid-red;
}

.save-document-btn {
  padding-top: 20px;
}

.information-line {
  margin-top: 7px;
  margin-bottom: 7px;

  .left-column-information {
    color: $normsup-blue;
    font-size: 14px;
  }

  .right-column-information {
    font-size: 14px;
  }
}

.client-row {
  padding: 11px 0;
}

.client-txt {
  font-family: 'Roboto Regular';
  font-size: 14px;
  color: $normsup-dark-blue;
}

.client-row:hover {
  cursor: pointer;
  background: $light-grey;
}

