<div class="container client-documents-information-container">

  <div class="flex-row">
    <app-ui-back-link
      [link]="'../'"
      [label]="'Retour aux documents'">
    </app-ui-back-link>
  </div>

  <div class="title-row" style="padding-top: 45px !important; padding-bottom: 25px !important;">

    <div class="flex-row">
      <app-ui-page-title [title]="documentType"></app-ui-page-title>

      <span class="span-row-centered item-count" *ngIf="clients">
        <span class="count-style">{{ clients.length }}</span>
        clients utilisant ce document
      </span>
    </div>

    <div class="row nopadding row-line-btn">
      <button style="height: 30px;margin-left: 0px !important;" type="button" class="btn new-btn-normsup comp-btn">
        <span class="button-txt">Déposer</span>
      </button>
    </div>

  </div>


  <div class="clients-cards-container">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 client-list-container">
          <app-ui-card-template
            [headerTitle]="'Liste des clients'"
            [templateBody]="clientListTemplate">
          </app-ui-card-template>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 nopadding">
          <app-ui-card-template
            [headerTitle]="'Gestion du document'"
            [templateBody]="documentDetailTemplate">
          </app-ui-card-template>
        </div>

  </div>




</div>

<ng-template #clientListTemplate>
  <div
    (click)="onClientRowClick(client)"
    *ngFor="let client of clients"
    class="client-row">
    <span class="row-line client-txt text-capitalize">
      {{ client.name }}
    </span>
  </div>
</ng-template>

<ng-template #documentDetailTemplate>

  <div class="client-card-row" *ngIf="!selectedClient; else elseBlock">
    <div class="row-line client-txt font-weight-bold">
      Aucun client sélectionné.
    </div>
  </div>

  <ng-template #elseBlock>

    <div class="client-card-row">
      <div class="row-line">
        <div class="basic-txt">
          Statut du document
        </div>

        <div class="status-document" [ngClass]="{
          'status-document-valid' : selectedClient.isValid,
          'status-document-invalid' : !selectedClient.isValid
        }">
          {{ selectedClient.isValid ? 'À jour' : 'À mettre à jour' }}
        </div>
      </div>
    </div>

    <div class="client-card-row">
      <div class="row-line client-txt" style="margin-bottom: 25px;">
        <div class="basic-txt">
          Informations
        </div>
      </div>

      <div class="row-line information-line">
        <span class="left-column-information">Date d'expiration</span>
        <span class="right-column-information">
          {{ selectedClient.expirationDate ? (selectedClient.expirationDate | date: 'dd/MM/yyyy') : 'N/A' }}
        </span>
      </div>

      <div class="row-line information-line">
        <span class="left-column-information">Date du dernier upload</span>
        <span class="right-column-information">
          {{ selectedClient.uploadDate ? (selectedClient.uploadDate | date: 'dd/MM/yyyy') : 'N/A' }}
        </span>
      </div>

      <div class="row-line information-line">
        <span class="left-column-information">Utilisateur</span>
        <span class="right-column-information">{{ selectedClient.user | userNamePipe : 'uppercase' : 'nameCut' }}</span>
      </div>

      <div class="row-line information-line">
        <span class="left-column-information">Durée de validité</span>
        <span class="right-column-information">{{ selectedClient.durationValidity ? selectedClient.durationValidity + ' mois' : 'N/A'}}</span>
      </div>
    </div>

    <div class="client-card-row">
      <div class="row-line client-txt font-weight-bold">
          Déposer un nouveau document
      </div>
    </div>

    <div class="row-line-centered save-document-btn">
      <app-ui-custom-button
        [label]="'Enregistrer'">
      </app-ui-custom-button>
    </div>

  </ng-template>

</ng-template>
