.second-card-row {
    height: 275px;
}

.box-title {
    font-size: 15px;
    font-family: 'Roboto Bold';
    color: #4E5983;
    text-align: center;
    padding-top: 13px;
    background: rgba(243, 247, 252, 0.39);
    padding-bottom: 0.75rem;
}

.card-body {
    padding: 0.5rem 1.25rem 1.25rem !important;
}

.classic-admin-card .card-body {
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
}

.classic-admin-card .card-body p {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 0;
}

.classic-admin-card .card-body h4 {
    margin-top: 10px;
}

.classic-admin-card .card-body .float-right .fa {
    font-size: 3rem;
    opacity: 0.5;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 55px #4390EF3C !important;
}