<div>
  <div class="mod-header">
    <div class="mod-header-title">
      <span class="top-txt">Statut des documents</span>
      <div class="pull-right doc-modal-type">
        <div class="doc-type-overlay disabled-type">
          <embed style="height: 25px; padding-right: 7px; vertical-align: middle;"
            src="../../../../assets/img/gray-legal-icn.svg" /><span class="type-txt">Légal</span></div>
        <div class="doc-type-overlay active-type"><img style="height: 25px; padding-right: 7px;"
            src="../../../../assets/img/white-comp-icn.svg" /><span class="type-txt">Complémentaire</span></div>
      </div>
    </div>
    <hr id="legal-lb" />
    <div>
      <span class="table-header doc-count-txt">
        <span
          style="color: #4390EF; font-family: 'Roboto Regular'">{{itemsToDisplay.length | i18nPlural: itemPluralMappingNum['documents']}}</span>
        {{itemsToDisplay.length | i18nPlural: itemPluralMapping['documents']}}
      </span>
    </div>
    <div [ngClass]="{'button-pad': !addCompDoc}" class="row">
      <!-- <div class="col-md-auto col-lg-auto"><span class="table-header">Vous avez {{documents.length | i18nPlural: itemPluralMapping['supplier']}}.</span></div> -->
      <div class="col"></div>
      <div class="col-md-auto col-lg-auto legal-doc">
        <button type="button" class="btn btn-outline-normsup add-btn">
          <!-- <span class="glyphicon glyphicon-download-alt download-icn fix-middle-icn" aria-hidden="true"></span> -->
          <span class="button-txt">Tout télécharger</span>
        </button>
        <button style="border-radius: 5px;" type="button" class="btn btn-primary add-btn" (click)="addDoc()">
          <!-- <object class="plus-icn" type="image/svg+xml" data="../../../../assets/img/plus-circle-solid.svg"></object> -->
          <span class="button-txt">Ajouter un document</span>
        </button>
      </div>
    </div>
  </div>
  <table datatable [dtOptions]="dtOptions" id="tableComp" class="table hover compact doctable" cellspacing="0"
    width="100%" style="height: 100%;">
    <thead>
      <tr>
        <th class="th-sm"><span class="header-file">Fichier</span></th>
        <th class="th-sm">Statut</th>
        <th class="th-sm"><span class="header-date">Date de validité</span></th>
      </tr>
    </thead>
    <tbody *ngIf="myTable">
      <tr *ngFor="let item of itemsToDisplay">
        <td (click)="openSupplierInfo(item)">
          <div class="badge-container content-cont container">
            <div class="row h-100 cent">
              <embed src="../../../../assets/img/doc-icn.svg" />
              <span style="cursor: pointer;" class="col-9 assign-link">{{item.filename | uppercase }}</span>
            </div>
          </div>
        </td>
        <td>
          <div class="badge-container content-cont container">
            <div class="row h-100 cent">
              <div *ngIf="item.status" class="doc-state-cont">
                <!-- <img class="valid-icn-png" src="../../../../assets/img/valid-icn-png.png"/> -->
                <embed class="valid-icn valid-icn-shadow" src="../../../../assets/img/valid-icn.svg" />
                <span class="status-txt">À jour</span>
              </div>
              <div *ngIf="!item.status" class="doc-state-cont">
                <embed class="valid-icn valid-icn-shadow" src="../../../../assets/img/invalid-icn.svg" />
                <span class="status-txt">Non à jour</span>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="badge-container content-cont container">
            <div class="row h-100 cent">
              <span class="doc-date">{{item.expirationdate * 1000 | date:'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #addDocModal>
  <div class="modal-header own-modal-header">
    <h4 class="modal-title pull-left">Ajouter un document</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="this.hideModal.emit('subModal')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-auto col-md-auto"></div>
        <div class="col">
          <div class="add-doc-head"><span class="table-header">Ajouter un document</span></div>
          <div class="container">
            <div class="file-upload">
              <span>Sélectionnez un fichier</span>
              <div>
                <div class="align-div">
                  <!-- <button type="button" class="btn btn-upload add-btn">
                          <span class="glyphicon glyphicon-download-alt download-icn fix-middle-icn" aria-hidden="true"></span>
                          <span class="button-txt-dl">Envoyer un fichier</span>
                        </button> -->
                  <input type="file" name="fileLegal" ng2FileSelect [uploader]="uploader" />
                  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                    [uploader]="uploader" class="well my-drop-zone">
                    Déposez un fichier
                  </div>
                </div>
                <div class="upload-txt align-div vert-align">
                  <span style="display: block;">Aucun fichier selectionné</span>
                  <span style="display: block;">Taille maximale: 200mb.</span>
                </div>
              </div>
            </div>
            <div>
              <label for="filename">Titre du document *</label>
              <div class="input-group mb-3">
                <input style="border-radius: 0.25rem;" type="text" class="form-control" id="filename"
                  aria-describedby="basic-addon3" placeholder="Nom du document">
              </div>
            </div>
            <div class="form-group">
              <label for="filecategory">Catégorie *</label>
              <select class="form-control" id="filecategory" [(ngModel)]="category">
                <option value="" disabled selected>Choisir une catégorie</option>
                <option value="kbis">Kbis</option>
                <option value="urssaf">Urssaf</option>
                <option value="lnte">LNTE</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-auto col-md-auto"></div>
      </div>
    </div>
  </div>
  <div class="col-md-9" style="margin-bottom: 40px">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader['isHTML5']" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader['isHTML5']">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
              [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
        [disabled]="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
        [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>

  </div>
  <div class="own-modal-footer">
    <div class="container">
      <div class="row">
        <div style="padding: 5px 0px;" class="col">
          <button style="float: right" (click)="console.log('working')" class="btn btn-light submit-btn" type="button"
            name="action">
            <span class="searchText">Annuler</span>
            <!-- <i style="font-size: 22px !important;" class="material-icons right">send</i> -->
          </button>
        </div>
        <div style="padding: 5px 0px;" class="col">
          <button style="float: left" (click)="console.log('working')" class="btn btn-primary submit-btn" type="button"
            name="action">
            <span class="searchText">Ajouter</span>
            <!-- <i style="font-size: 22px !important;"  class="material-icons right">send</i> -->
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>