<div>
  <div class="mod-header">
    <div class="mod-header-title">
      <div *ngIf="!addDocState">
        <span class="top-txt">Statut des documents</span>
        <div class="pull-right doc-modal-type" style="cursor: default;">
          <div class="doc-type-overlay active-type"><img style="height: 25px; padding-right: 7px;"
              src="../../../../assets/img/white-legal-icn@2x.png" /><span class="type-txt">Légal</span></div>
          <div (click)="changeModalType()" class="doc-type-overlay disabled-type"><img style="height: 25px; padding-right: 7px;"
              src="../../../../assets/img/comp-icn@2x.png" /><span class="type-txt">Complémentaire</span></div>
        </div>
      </div>
      <div *ngIf="addDocState">
        <span class="add-doc-return" (click)="goToDocView()"> Retour aux status</span>
        <span class="top-txt">Ajouter un document</span>
      </div>
    </div>
    <hr id="legal-lb" />
    <div *ngIf="!addDocState">
      <span class="table-header doc-count-txt">
        <span
          style="color: #4390EF; font-family: 'Roboto'">{{itemsToDisplay.length | i18nPlural: itemPluralMappingNum['documents']}}</span>
        {{itemsToDisplay.length | i18nPlural: itemPluralMapping['documents']}}
      </span>
    </div>
    <div *ngIf="!addDocState" [ngClass]="{'button-pad': !addCompDoc}" class="row">
      <!-- <div class="col-md-auto col-lg-auto"><span class="table-header">Vous avez {{documents.length | i18nPlural: itemPluralMapping['supplier']}}.</span></div> -->
      <div class="col"></div>
      <div class="col-md-auto col-lg-auto legal-doc">
        <div style="padding-right: 35px;">
          <button type="button" class="btn new-btn-normsup add-btn">
            <!-- <span class="glyphicon glyphicon-download-alt download-icn fix-middle-icn" aria-hidden="true"></span> -->
            <span class="button-txt">Tout télécharger</span>
          </button>
        </div>
        <!-- <button style="border-radius: 5px;" type="button" class="btn btn-primary add-btn" (click)="addDoc()">
          <span class="button-txt">Ajouter un document</span>
        </button> -->
      </div>
    </div>
  </div>
  <table *ngIf="!addDocState" datatable [dtOptions]="dtOptions" id="tableComp" class="table compact doctable"
    cellspacing="0" width="100%" style="height: 100%;">
    <thead>
      <tr>
        <th class="th-sm"><span class="header-file">Fichier</span></th>
        <th class="th-sm">Statut</th>
        <th class="th-sm"><span class="header-date">Date de validité</span></th>
      </tr>
    </thead>
    <tbody *ngIf="myTable">
      <tr *ngFor="let item of itemsToDisplay">
        <td (click)="downloadDocument(item)">
          <div class="badge-container content-cont container">
            <div class="row h-100 cent">
              <img src="../../../../assets/img/doc-icn.svg" />
              <span style="cursor: pointer;" class="col-9 assign-link">{{item.filename | uppercase }}</span>
            </div>
          </div>
        </td>
        <td>
          <div class="badge-container content-cont container">
            <div class="row h-100 cent">
              <div *ngIf="item.status" class="doc-state-cont">
                <!-- <img class="valid-icn-png" src="../../../../assets/img/valid-icn-png.png"/> -->
                <img class="valid-icn valid-icn-shadow" src="../../../../assets/img/valid-icn.svg" />
                <span class="status-txt">À jour</span>
              </div>
              <div *ngIf="!item.status" class="doc-state-cont">
                <img class="valid-icn valid-icn-shadow" src="../../../../assets/img/invalid-icn.svg" />
                <span class="status-txt">Non à jour</span>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="badge-container content-cont container">
            <div class="row h-100 cent">
              <span class="doc-date">{{item.expirationdate * 1000 | date:'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="addDocState" class="container">
    <div class="row">
      <div class="col-lg-auto col-md-auto"></div>
      <div class="col nopadding">
        <div class="container">
            <div class="file-upload">
              <!-- <div>Sélectionnez un fichier</div> -->
                <!-- <div class="upload-txt align-div vert-align">
                  <span style="display: block;">Sélectionnez un fichier</span>
                  <span style="display: block;">Taille maximale: 200mb.</span>
                </div> -->
                <div class="align-div custom-file file-input-normsup">
                  <input type="file" class="custom-file-input file-input-normsup" id="customFile" ng2FileSelect [uploader]="uploader">
                  <label class="custom-file-label file-input-normsup-label nopadding" for="customFile">
                    <span class="file-upload-label">
                      Sélectionnez un fichier
                    </span>
                  </label>
                </div>
                <!-- <div class="align-div">
                  <input type="file" name="fileLegal" ng2FileSelect [uploader]="uploader" />
                </div> -->
            </div>
            <div>
              <label class="meta-input-label" for="filename">Titre du document*</label>
              <div class="input-group mb-3">
                <input style="border-radius: 0.25rem;" type="text" class="form-control" id="filename"
                  aria-describedby="basic-addon3" placeholder="Nom du document" [(ngModel)]="filename">
              </div>
            </div>
            <div class="form-group">
              <label class="meta-input-label" for="filecategory">Catégorie*</label>
              <select class="form-control" id="filecategory" [(ngModel)]="category">
                <option value="" disabled selected>Choisir une catégorie</option>
                <option value="KBIS">Kbis</option>
                <option value="URSSAF">Urssaf</option>
                <option value="LNTE">LNTE</option>
              </select>
            </div>
        </div>
      </div>
      <div class="col-lg-auto col-md-auto"></div>
    </div>
    <div class="row">
      <div style="padding: 5px 0px;" class="col">
        <button style="float: right;"  (click)="goToDocView()" class="btn new-btn-normsup legal-custom-outline custom-legal-btn" type="button"
          name="action">
          <span class="searchText">Annuler</span>
          <!-- <i style="font-size: 22px !important;" class="material-icons right">send</i> -->
        </button>
      </div>
      <div style="padding: 5px 0px;" class="col">
        <button style="float: left" (click)="uploadFile()" [disabled]="filename === '' || category === ''" class="btn btn-primary custom-legal-btn" type="button"
          name="action">
          <span class="searchText">Ajouter</span>
          <!-- <i style="font-size: 22px !important;"  class="material-icons right">send</i> -->
        </button>
      </div>
    </div>
  </div>
</div>