.plus-icn {
    height: 18px;
    position: absolute;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    left: 13px;
    top: 8px;
}

.custom-legal-btn {
  min-width: 137px;
  font-family: 'Avenir Heavy';
  font-size: 13px;
  border-radius: 5px !important;
  text-transform: unset;
  padding-top: 6px;
  padding-bottom: 6px;
}

.legal-custom-outline {
  color: #4E5983;
}
.button-pad {
  padding-bottom: 10px;
}


/** Style for upload file zone BEGINNING **/

.file-upload {
  padding: 5px 0px 10px 0px;
}

.upload-txt {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.my-drop-zone { 
  border: dotted 3px lightgray;
  min-width: 320px;
  min-height: 100px !important;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
}

.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.add-doc-head {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

/** Style for upload file zone END **/

/** Button style BEGINNING **/

.add-btn {
  min-width: 150px;
  position: relative;
}

.button-txt {
  font-family: 'Roboto Medium';
  text-transform: none;
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
}

.button-txt-dl {
  font-family: 'Roboto Medium';
  text-transform: none;
  height: 19px;
  font-size: 10px;
}

/** Button style  END **/


/** Table style BEGINNING **/

.header-file {
  padding-left: 37px;
}
.header-date {
  padding-right: 37px;
}

th {

  text-align: center !important;

  &:first-child {
    text-align: left !important;
  }

  &:last-child {
    text-align: right !important;
  }
}

.assign-link {
  text-align: left;
  padding: 20px 0px 20px 13.5px;
  font-family: 'Roboto Medium';
  font-size: 15px;
}

.status-txt {
  padding-left: 5px;
  font-family: 'Roboto';
  font-size: 15px;
  color: #4E5983;
}

.doc-state-cont {
  display: flex;
  align-items: center;
}

.valid-icn {
  height: 20px;
  border-radius: 25px;
}

.doc-date {
  text-align: right;
  display: block;
  padding-right: 37px;
  width: 100%;
  font-family: 'Roboto';
  font-size: 15px;
}

/** Table style END **/

/** Modal Header style BEGINNING **/

.table-header {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0 0 0;
  display: inline-block;
}

.top-txt {
  display: inline-block;
  color: #4390EF;
  font-family: 'Roboto Bold';
  font-size: 25px;
}
.mod-header {
  padding-left: 35px;
}
.mod-header-title {
  padding-top: 60px;
}
.doc-modal-type {
  font-size: 15px;
}

.doc-type-overlay {
  padding: 5px 12px;
  border-radius: 30px;
  display: inline-block;
}

.active-type {
  color: #FFF;
  background-color: #4390EF;
}

.disabled-type {
  background-color: white;
  color: #4E5983;
  opacity: 0.5;
}

.type-txt {
  font-family: 'Roboto Medium';
  display: inline-block;
  vertical-align: middle;
}

.doc-count-txt {
  font-family: 'Roboto Regular';
  font-size: 15px;
  letter-spacing: 0;
  color: #4E5983;
}

/** Modal Header style END **/

.modal-body {
  padding: 0px !important;
}

.file-input-normsup {
  min-height: 47px;
  height: 47px;
  cursor: pointer;
}
.file-input-normsup-label {
  border: 1px solid #C7E0FF !important;
  border-radius: 7px !important;
  min-height: 47px;
  height: 47px;
}

.custom-file-label::after {
  content: 'Uploader un fichier' !important;
    padding: 0px 18px 0px 19px;
    top: 8px !important;
    right: 10px !important;
    font-family: 'Roboto Medium';
    font-size: 13px;
    outline: none;
    height: 30px;
    align-items: center;
    vertical-align: middle;
    display: flex;
    letter-spacing: 0;
    background-color: white;
    border: 1px solid #4390EF;
    border-radius: 5px;
    color: #4390EF;

}

.file-upload-label {
  // padding: 14px 0px 15px 21px !important;
  padding-left: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto';
  font-size: 15px;
  letter-spacing: 0;
  color: #4E5983;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  display: flex;
}


.meta-input-label {
  font-family: 'Roboto';
  font-size: 11px;
  color: #4390EF;

}

.add-doc-return {
  display: block;
  font-size: 13px;
  font-family: 'Roboto Medium';
  color: #4E5983;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
  
  &::before {
    content: '<';
    color: #4E5983;
    opacity: 0.5;
    font-family: 'Roboto Medium';
  }
}