<div class="container component-padding">
    <div class="row nopadding col-lg-11 col-md-12 col-sm-10 col-8" style="padding-top: 45px !important; padding-bottom: 25px !important;">
      <div class="col title nopadding">
        <span  class="group-title" style="padding-right: 20px;">Groupes</span>
        <span class="item-count" *ngIf="showCount">{{ items.length === 0 ? 'Vous ' : 'Vous avez' }} <span class="count-style">{{items.length | i18nPlural: itemPluralCount['group']}}</span> {{items.length | i18nPlural: itemPluralMapping['group']}}</span>
      </div>
      <div class="" style="width: 211px;">
        <button style="width: 211px;height: 30px" (click)="openModal()" type="button" class="btn btn-primary custom-normsup-button nopadding">
            <span class="add-grp-btn"><img style="height: 10px;" src="../../../assets/img/plus-icn.svg" />
              <span style="margin-left:5px;">Créer un nouveau groupe</span>
            </span>
        </button>
      </div>
    </div>
    <!-- <div class="row nopadding groups-cont col-lg-11 col-md-11 col-sm-7 col-8 mb-5"> -->
    <div class="row nopadding groups-cont col-lg-11 col-md-12 col-sm-12 col-12 mb-5">
      <!-- <span class="groups-cont"> -->
        <div class="group-card-style col-lg-3 col-md-4 col-sm-6 col-3" *ngFor="let group of items; let i = index;" style="">
          <mdb-card class="canvaCard group-card">
            <mdb-card-body>
              <div class="group-card-content">
                <div class="group-card-header"><img src="../../../assets/img/group-icn.svg" style="width: 20px;height: 12px;"/><span class="group-name-style text-ov" style="padding-left:5px">{{group.name}}</span></div>
                <div class="card-sup-count"><span class="count-style">{{group.members_count | i18nPlural: itemPluralCount['members']}}</span> {{group.members_count | i18nPlural: itemPluralMapping['members']}}</div>
                <div class="params-btn">
                  <button (mouseover)="changeIcn(i, 0)" (mouseout)="changeIcn(i, 1)" (focus)="changeIcn(i, 0)" (blur)="changeIcn(i, 1)" style="height: 30px;width: 123px;" (click)="openGroupParams(group.id)" type="button" class="btn new-btn-normsup">
                    <span class="params-btn-txt">
                      <!-- <span style="width:15px;" class="button-logo">&nbsp;</span> -->
                      <img *ngIf="iconSelector!==i" width="15" height="15" class="button-logo" src="../../../assets/img/param-icn.svg"/>
                      <img *ngIf="iconSelector===i" width="15" height="15" class="button-logo" src="../../../assets/img/white-param-icn.svg"/>
                      <span style="margin-left:5px;">Paramètres</span>
                    </span>
                  </button>
                </div>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      <!-- </span> -->
    </div>
    <ng-template #addCompGroup>
      <div class="modal-header own-modal-header-supplier" style="border-bottom: none;">
      </div>
      <div class="modal-body">
        <app-add-comp-group (addGroup)="addGroup($event)" (changeModal)="changeModal($event)"></app-add-comp-group>
      </div>
    </ng-template>
  </div>