<div class="loginContainer">
  <img src="../../../assets/img/login-footer.svg" class="virtualBg" />
  <div class="container login-box">

      <div class="row">

          <div *ngIf="token && type" class="colorDiv col s12">
            <div class="supplier-login-title">
              Réinitialisation mot de passe
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row" style="padding-top: 35px;">
                  <div class="col-lg-3 col-md-3 col-xs-3 col-3"></div>
                  <div class="input-field col-lg-6 col-md-6 col-xs-6 col-6 s6 nopadding">
                    <input id="passwordOne" name="passwordOne" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        class="form-control  custom-normsup-input-nb" formControlName="password" maxlength="20" required>
                    <label class="custom-normsup-label-test custom-label-input-test-active"
                        for="passwordOne">Mot de passe</label>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Mot de passe requis</div>
                        <div *ngIf="f.password.errors.pattern">Mot de passe doit contenir au moins 8 caractères, dont une majuscule, un chiffre et un caractère spécial</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-xs-3 col-3"></div>
              </div>
              <div class="row" style="padding-top: 20px;">
                  <div class="col-lg-3 col-md-3 col-xs-3 col-3"></div>
                  <div class="input-field col-lg-6 col-md-6 col-xs-6 col-6 s6 nopadding">
                    <input id="passwordTwo" name="passwordTwo" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                        class="form-control  custom-normsup-input-nb"  formControlName="confirmPassword" maxlength="20" required>
                    <label class="custom-normsup-label-test custom-label-input-test-active"
                        for="passwordTwo">Confirmer mot de passe</label>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Mot de passe requis</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Mot de passe doit être identique</div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-xs-3 col-3"></div>
              </div>
              <div style="padding-top: 5px;">
                  <span *ngIf="errMsg" class="red-err-txt" style="font-size: 13px;">{{errMsg}}</span>
              </div>
              <div class="login-btn-cont">
                  <button [disabled]="!resetPwdForm.valid" class="btn new-btn-normsup login-btn"
                      style="position: relative;padding-bottom: 0.3rem !important;padding-top: 0.3rem !important;"
                      type="submit" name="submit">
                      <span class="searchText">Valider</span>
                  </button>
              </div>
          </form>
          </div>
      </div>

  </div>
</div>

<div class="spinner-container" [ngClass]="{'show':isLoader}">
  <div class="cs-loader">
      <div class="login-spinner spinner-border text-primary" role="status">
          <span class="sr-only">Chargement...</span>
      </div>
  </div>
</div>
