/* ----- Variables ---- */
$normsup-blue: #4390EF;
$normsup-black: #333;
$normsup-dark-blue: #4E5983;
$normsup-gray: #818181;
$datepicker-color: #A3A6B6;
$datepicker-font-weight: 600;
$datepicker-placeholder-color: #A3A6B6;
$datepicker-placeholder-weight: 700;

// Custom -- Todo may need to change
$light-grey: #F5F3F2;
$normsup-valid-green: #86D890;
$normsup-invalid-red: #FF2626;
$normsup-border-grey: #F3F7FC;
