<div class="mod-header">
  <div style="display: block;">
    &nbsp;
    <button type="button" style="cursor:pointer;width:20px;height:20px;" class="close pull-right" aria-label="Close"
      (click)="hideModal()">
      <embed src="../../../assets/img/close-icn.svg" style="height: 16px; cursor:pointer;pointer-events: none;" />
    </button>
  </div>
  <div class="supplier-modal-title">Nouveau Groupe</div>
</div>
<div *ngIf="state === 'groupName'">
  <div class="row search-company" [ngClass]="{'fade-in': state === 'groupName', 'fade-away': state !== 'groupName'}">
    <div style="text-align: center; padding: 0px 107px;" class="input-field col s12">
      <label class="addSupp-label" for="group-name">Nom du groupe</label>
      <input class="form-control custom-normsup-input-nb" [(ngModel)]="group.name"
        (keydown.enter)="checkGroupName(group.name)" #companyInput id="group-name" type="text" data-length="10"
        appFocus>
    </div>
  </div>
  <div class="f-button-addsup" style="padding-bottom: 40px;">
    <button (click)="checkGroupName(group.name)" [disabled]="!group.name"
      class="btn btn-primary custom-normsup-button nxt-btn-addsup" type="submit" name="action">
      <span class="searchText">Suivant</span>
    </button>
    <span class="red-err-txt" *ngIf="showAlreadyExistsErr">Vous avez déjà un groupe avec ce nom.</span>
  </div>
</div>
<div class="container nopadding" *ngIf="state === 'groupMembers'">
  <div style="padding-left: 53px !important; padding-right: 54px !important;" class="row ma"
    [ngClass]="{'fade-in': state === 'groupMembers', 'fade-away': state !== 'groupMembers'}">
    <div class="optional-txt" style="text-align: center;">Choisissez les fournisseurs appartenant au groupe.</div>
    <form action="#" class="form-style" style="width: 100%;">
      <div>
        <div style="padding-top: 49px !important;" class="row ma">
          <div class="form-group  col s6 nopadding input-space">
            <input style="width: 240px;margin: 0 auto;text-align: center;" id="search-supplier" name="search-supplier"
              type="text" (keydown.enter)="loadSupplier(searchSupplier)"
              class="form-control custom-normsup-input-nb custom-ph" [(ngModel)]="searchSupplier"
              placeholder="&#xf002;   Rechercher un fournisseur">
            <label class="ipt-label-style" for="search-supplier"></label>
          </div>
        </div>
        <div class="row ma vert-input-space">
          <div class="form-group col s6 nopadding input-space select-list-margin">
            <app-select-list #selectComponent [suppliers]="suppliers"
              (getSelectedSuppliers)='getSelectedSuppliers($event)'></app-select-list>
          </div>
        </div>
      </div>
      <div style="padding-top: 30.5px;padding-bottom: 40px;" class="select-comp-but">
        <div class="container">
          <div class="row">
            <div class="col">
              <button style="float: right" type="button" class="btn btn-outline-normsup prec-btn-group text-capitalize"
                (click)="previous('groupName')">
                <span class="button-txt">Précédent</span>
              </button>
            </div>
            <div class="col">
              <button style="border-radius: 5px;float: left;" type="button"
                class="btn btn-primary text-capitalize next-btn-group" (click)="nextStep('docInfo')">
                <span class="button-txt">Suivant</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container nopadding" *ngIf="state === 'docInfo'">
  <div style="padding-left: 0px !important; padding-right: 0px !important;" class="container">
    <div class="row" style="margin: auto;text-align: center;padding-top: 29px;">
      <div class="optional-txt">Choisissez les documents à demander.</div>
    </div>
    <div style="padding-bottom: 30px;padding-top: 30px;margin: auto;padding-left: 53px;padding-right: 54px;"
      class="row">
      <div style="text-align: center;width: 100%; text-transform: capitalize;" class="basic-subtitle">
        Légal
      </div>
      <div class="doc-form-check">
        <div class="form-check form-check-inline normsup-checkbox-cont">
          <input class="form-check-input normsup-checkbox" type="checkbox" id="legalCheckbox1" value="option1" disabled
            [(ngModel)]="documentsSettings.legal.urssaf">
          <label class="form-check-label" for="legalCheckbox1">URSSAF</label>
        </div>
        <div class="form-check form-check-inline normsup-checkbox-cont">
          <input class="form-check-input normsup-checkbox" type="checkbox" id="legalCheckbox2" value="option2" disabled
            [(ngModel)]="documentsSettings.legal.lnte">
          <label class="form-check-label" for="legalCheckbox2">LNTE</label>
        </div>
        <div class="form-check form-check-inline normsup-checkbox-cont">
          <input class="form-check-input normsup-checkbox" type="checkbox" id="legalCheckbox3" value="option3" disabled
            [(ngModel)]="documentsSettings.legal.kbis">
          <label class="form-check-label" for="legalCheckbox3">KBIS</label>
        </div>
      </div>
    </div>
    <div style="padding-bottom: 30px;padding-top: 30px;margin: auto;padding-left: 53px;padding-right: 54px;"
      class="row">
      <div style="text-align: center;width: 100%; text-transform: capitalize;" class="basic-subtitle">
        Complémentaire
      </div>
      <div class="" style="width: 100%;">
        <select class="form-control" id="compDoc" name="compDoc"
          [(ngModel)]="documentsSettings.comp">
          <option [ngValue]="value" [disabled]="true">Choisir document</option>
          <option [ngValue]="value" [disabled]="false">Type un</option>
          <option [ngValue]="value" [disabled]="false">Type deux</option>
          <option [ngValue]="value" [disabled]="false">Type trois</option>
        </select>
      </div>
    </div>
  </div>
  <div style="" class="select-comp-but">
    <div class="row">
      <div class="col">
        <button style="float: right" type="button" class="btn btn-outline-normsup prec-btn-group text-capitalize"
          (click)="previous('interlocInfo')">
          <span class="button-txt">Précédent</span>
        </button>
      </div>
      <div class="col">
        <button style="border-radius: 5px;float: left;" type="button"
          class="btn btn-primary text-capitalize next-btn-group"
          (click)="addCompany({comp: companyToAdd, interloc: interloc})"
          [disabled]="addInterloc === true && (interloc.name === '' || interloc.lastname === '' || interloc.phonenumber === '' || interloc.email === '')">
          <span class="button-txt">Suivant</span>
        </button>
      </div>
    </div>
  </div>
</div>