.add-grp-title {
    color: #5097F0;
    font-size: 18px;
    font-weight: 600;
}

.inpt-label {
    position: absolute;
    top: -17px;
    vertical-align: bottom;
    background-color: white;
    left: 55px;

    label {
        margin-bottom: 0px;
        height: 18px;
        color: #5097F0;
        padding-right: 10px;
        line-height: 31px;
        vertical-align: text-bottom;
        padding-left: 10px;
    }
}

.trigger {
    padding: 1px 10px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #eee;
    color: #212121;
    display: inline-block;
    margin: 2px 5px;
}
    
.hoverable, .trigger {
    transition: box-shadow 0.55s;
    box-shadow: 0;
}
    
.hoverable:hover, .trigger:hover {
    transition: box-shadow 0.45s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first-btn-cent {
    position: absolute;
    background-color: white !important;
    top: -9px;
    left: -96px;
}

.scd-btn-cent {
    position: absolute;
    top: -9px;
    left: 2px;
}
.select-comp-but {
    position: relative; 
    padding-bottom: 30px;
}

.prec-btn-group {
    border: 1px solid #C7E0FF !important;
    color: #4E5983 !important;
    font-family: 'Avenir Heavy';
    font-size: 13px;
    padding: 5px 37px !important;
}

.new-group-btn {
    border: 1px solid #4390EF !important;
    color: #4390EF !important;
    font-family: 'Avenir Heavy';
    font-size: 13px;
    padding: 5px 17px !important;
}

.next-btn-group {
    color: #4E5983;
    font-family: 'Avenir Heavy';
    font-size: 13px;
    padding: 6px 46px !important;
    color: #FFFFFF;
}

.select-list-margin {
    margin: 0px 50px !important;
    min-width: 440px
}

@media (max-width: 580px) {
    .select-list-margin {
        margin: 0px 0px !important;
        min-width: 440px
    }
}


.basic-subtitle {
    font-family: 'Roboto Medium';
    font-size: 15px;
    color: #4E5983;
    text-transform: uppercase;
    width: 100%;
  }

  .doc-form-check {
    width: 100%;
    padding-top: 10px;
    text-align: center;
  
    & > div {
      font-family: 'Roboto Regular';
      color: #4E5983;
      font-size: 14px;
    }
  }
.normsup-checkbox-cont [type="checkbox"]:disabled + label {
    color: #4E5983 !important;
}

.normsup-checkbox {
    cursor: pointer !important;
}