<app-sidebar
  [navLinks]="navLinks"
  [defaultLinkImgCircle]="'../../../assets/img/active-link.svg'">
</app-sidebar>
<div *ngIf="authorized" class="">
  <app-header-bar *ngIf="user" [currentUser]="user"></app-header-bar>
  <div [ngClass]="{'sidebar-padding': sidebarVisible}" class="dash-bg invisible-scrollbar">
    <!-- <div class="container profile-flyover">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto col-lg-auto">
          <app-profile-flyover></app-profile-flyover>
        </div>
      </div>
    </div> -->
    <div class="dash-container">
      <router-outlet></router-outlet>
      <div style="padding-top: 50px; width: 100%;"></div>
    </div>
  </div>
</div>
