<div class="container component-padding">
  <div class="row nopadding col-lg-11 col-md-12 col-sm-10 col-8" style="padding-top: 45px !important; padding-bottom: 25px !important;">
    <div class="row title nopadding">
      <span  class="group-title" style="padding-right: 20px;">Documents</span>
    </div>

    <div
      *ngIf="supplierDocuments && 0 !== supplierDocuments.length"
      style="display: flex; align-items: center;">
      Vous avez
      <span style="font-weight: bold; color: #4390EF; padding-left: 2px; padding-right: 2px;"> {{ supplierDocuments.length }} </span>
      {{ supplierDocuments.length <= 1 ? 'document': 'documents'}}.
    </div>
  </div>

  <app-ui-list-card
    [btnCardLabel]="'Déposer'"
    [cards]="cards"
    (clickCardBtnEvent)="onBtnCardClickEvent($event)">
  </app-ui-list-card>
</div>
