.group-title {
  font-family: 'Roboto Bold';
  font-size: 25px;
  letter-spacing: 0;
  color: #4390EF;
}

.main-cont {
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 0px 55px #4390EF1A !important;
  border-radius: 6px;
}

.groups-cont {
  border: 1px solid #C7E0FF;
  border-radius: 15px;
}

.group-card {
  box-shadow: 0px 0px 55px #4390EF1A !important;
}

.group-card-content {
  padding: 10px 0px;
}

.group-card-header {
  font-family: 'Roboto Medium';
  font-size: 15px;
  color: #4390EF;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0px 25px 0px;
}

.group-name-style {
  display: block;
  font-family: 'Roboto Medium';
  font-size: 15px;
  color: #4390EF;
  text-transform: uppercase;
  text-align: center;
}

.card-sup-count {
  font-family: 'Roboto Medium';
  font-size: 15px;
  color: #4E5983;
  text-align: center;
  padding-bottom: 25px;
}

.params-btn {
  margin: 0 auto;
  text-align: center;
}
.table-header {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  display: inline-block;
}

.sub-cont {
  padding: 25px 0px 20px 25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0 1em 0;
  padding: 0;
}

.btn {
  font-size: 10px;
}

.assign-div {
  font-size: 12px;
}

.button-style {
  width: 100%;
  height: 100%;
  margin: 0px;
  border-radius: 5px;
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  padding: 10px 0px 10px 15px;
  border: none;
  display: block;
  color: #333;
  text-align: left;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.btn-link:focus {
  outline: none !important;
}

.plus-icn {
  float: right;
  color: lightblue;
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 2.5em;
  top: -45px;
  bottom: 0px;
}

.card-body {
  padding: 10px;
}
h2 {
  margin-bottom: 0px !important;
}
.assign-link {
  padding-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}

.card-btn-txt {
  display: flex;
  align-items: center;
  height: 100%;

  & span {
    font-size: 13px;
    font-family: 'Roboto Medium';
    text-transform: none;
    text-align: center;
  }
}

.group-card-style {
  // width:186px;
  // margin: 20px 0px 10px 30px;

  margin: 20px 0px 10px 0px;
  min-width: 190px;
  max-height: 210px;

  &:last-child {
    margin-bottom: 20px !important;
  }
}

.text-ov {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.group-title {
  font-family: 'Roboto Bold';
  font-size: 25px;
  letter-spacing: 0;
  color: #4390EF;
}

.button-logo {
  // height: 15px;
  // width:15px;
  // display: block;
  // background-image: url('/assets/img/param-icn.svg');
}

.group-card-style {
  min-width: 0;
}

.card-parent-container {
  margin: 20px 0 10px 0;
  max-height: 210px;
  padding: 0 15px 0 0 !important;
}
