<div class="container main-cont">
    <div class="cont-wrapper">
        <div>
          <span class="title">Mes Groupes</span>
        </div>
        <div class="sub-cont">
          <div>
            <span class="table-header">Vous avez {{items.length | i18nPlural: itemPluralMapping['group']}}.</span>
            <div style="position: relative;"><span class="glyphicon glyphicon-plus-sign plus-icn"></span></div>
          </div>
          <hr/>
          <div class="accordion" id="accordionExample">
              <div *ngFor="let item of items; let i=index" class="card card-style">
                <div class="card-header" [attr.id]="'accordion' + i">
                  <h2 class="mb-0">
                    <!-- <a (click)="selectItem(item)" class="button-style" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">{{item.name}}</a> -->
                    <button (click)="selectItem(item)" class="btn btn-link button-style" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
                      {{item.name}}
                      <span class="glyphicon glyphicon-chevron-down icon-down" aria-hidden="true"></span>
                    </button>
                  </h2>
                </div>
                
                <div id="collapse{{ i }}" class="collapse" [attr.aria-labelledby]="'accordion' + i" data-parent="#accordionExample">
                  <!-- <hr *ngIf="selectedItem === item.name"> -->
                  <div class="card-body">
                    <hr/>
                    <span class="assign-link" (click)="assign(item)">Assigner le groupe à un utilisateur</span> | <span>Géré par {{item.user}}</span>
                    <div class="table-cont">
                        <app-groups-table></app-groups-table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>