<div class="supplierUploadContainer">
  <embed src="../../../assets/img/login-footer.svg" class="virtualBg" />
  <div class="container">
    <div class="upload-logo">
        <img src="../../../assets/img/normsup-logo.png" style="height: 75px;" />
        <!-- <embed src="../../../assets/img/login-logo.svg" /> -->
    </div>
    <div class="row">
      <div class="upload-title">
        UPLOADER VOS DOCUMENTS
      </div>
      <div class="upload-subtitle">
        Taille maximum des fichiers 20 Mb en .pdf
      </div>

      <div class="doc-type-choice">
        <div [ngClass]="{'active-type': true, 'disabled-type': false}"  class="doc-type-overlay">
          <embed style="height: 25px; padding-right: 7px; vertical-align: middle;"
            src="../../../../assets/img/gray-legal-icn.svg" />
          <span class="type-txt">Légal</span>
        </div>
        <div [ngClass]="{'active-type': true, 'disabled-type': false}" class="doc-type-overlay">
          <img style="height: 25px; padding-right: 7px;"
            src="../../../../assets/img/white-comp-icn.svg" />
          <span class="type-txt">Complémentaire</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="">
        
      </div>
    </div>
  </div>
</div>