.profile-cont {
    margin-top: 20px;
    font-family: 'Roboto Regular' !important;
}

.profile-title {
    text-align: left;
    font-family: 'Roboto Bold';
    font-size: 25px;
    color: #4390EF;
    padding-bottom: 30px;
}

.profile-card {
    box-shadow: 0px 0px 55px #4390EF3C !important;
    border-radius: 10px;
}

.profile-card-header {
    background: #FAFCFE;
    text-align: center;
    letter-spacing: 0;
    border-radius: 10px 10px 0px 0px;

    & > div {
        color: #4E5983;
        font-family: 'Roboto Bold';
        font-size: 15px;
        opacity: 1;
        padding: 16px 0px;
    }
}

.profile-card-body {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.profile-circle-cont {
    padding: 21px 0px 30px 0px;
}

.add-pic {
    width: 133px;
    height: 133px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #C7E0FF 0% 0% no-repeat padding-box;
    opacity: 0.61;
}

.center-btn {
    margin: 0 auto;
    text-align: center;
}

.mdp-text {
    font-family: 'Roboto Medium';
    font-size: 15px;
    color: #4E5983;
    padding: 34px 0px 30px 0px;
}

.button-txt {
    font-family: 'Roboto Medium';
    font-size: 13px;
}

.save-btn-cont {
    padding-bottom: 40px;
}

.spinner-css {
    width: 6rem;
    height: 6rem;
    margin: 30px 0px;
    color: #4390EF !important;
}
.supplier-modal-title {
    font-family: 'Roboto Bold';
    text-align: center;
    font-size: 25px;
    letter-spacing: 0;
    color: #4390EF;
}

.pwd-form {
    width: 100%;

}

.pwd-input {
    margin: auto;
    padding: 11px 24%;
    width: 100%;
}

.upload-file-cont {
    margin: 133px auto 0px auto;
    width: 133px;
    height: 133px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    // background: #C7E0FF 0% 0% no-repeat padding-box;
    // opacity: 0.61;

    .filepicker {
        -webkit-appearance: none;
        width: 88px;
        height: 99px;
        text-indent: 100em;
        background: url('/src/assets/img/add-pic.svg');
        background-size: cover;
        overflow: hidden;
        cursor: pointer;
        outline: none;
        z-index: 1000;
    }
    .filepicker-two {
        -webkit-appearance: none;
        width: 53px;
        height: 42px;
        text-indent: 100em;
        // background: url('/src/assets/img/appareil-photo.svg');
        background-size: cover;
        overflow: hidden;
        cursor: pointer;
        outline: none;
        z-index: 1000;
    }
    
}

.upload-doc-imgbis {
    // padding: 50px 75px 10px 75px;
    height: 48px;
}

.img-preview {
    height: 133px;
    width: 133px;
    border-radius: 50%;
    position: absolute;
    // opacity: 0.61;
}

.del-pic-icn {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0px;
    right: -13px;
    cursor: pointer;
}