.export-container {
    padding-top: 80px;
    margin-bottom: 45px;
}

.export-col {
    padding: 0px 11px;
}

.export-body {
    box-shadow: 0px 0px 15px #4390EF3C !important;
    background-color: #FFF;
    border-radius: 10px;

    .export-title {
        padding-top: 45px !important;
        padding-bottom: 20px !important;
        text-align: center;
        border-bottom: 1px solid #F3F7FC;


        .e-main-txt {
            font-family: 'Roboto Bold';
            font-size:  25px;
            line-height: 25px;
            padding-bottom: 10px;
            color: #4390EF;
            width: 100%;
        }

        .e-sub-txt {
            font-family: 'Roboto Light';
            font-size:  14px;
            line-height: 14px;
            color: #4E5983;
            width: 100%;
        }
    }

    .export-row {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}

.center-row {
    text-align: center;
}

.row-input-style {
    max-width: 180px;
    margin: 0 auto;
    
    select, input {
        height: 30px;
    }
}

.major-txt-style {
    font-family: 'Roboto Medium';
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0;
    color: #4E5983;
    padding-bottom: 10px;
}
.export-checkbox {
    padding-bottom: 10.5px;
    font-family: 'Roboto Medium';
    font-size: 15px;
    letter-spacing: 0;
    color: #4E5983;

}

.exp-border-bottom {
    border-bottom: 1px solid #F3F7FC;
    padding-bottom: 10px;
}

.pick-date-txt {
    font-family: 'Roboto Regular';
    font-size: 14px;
    letter-spacing: 0;
    color: #4E5983;
    padding-right: 12px;
}

.export-btn {
    font-family: 'Roboto Medium';
    font-size: 13px;
    letter-spacing: 0;
    color: #FFFFFF;
    border-radius: 5px !important;
    width: 155px;
    text-transform: none;
    background-color: #4390EF !important;
}

.doc-list {
    width: 100%;
    display: inline-block;
    font-family: 'Roboto Medium';
    font-size: 15px;
    color: #4E5983;
    padding-left: 10px;
    text-align: center;
}

.grp-list {
    display: inline-block;
    font-family: 'Roboto Medium';
    font-size: 15px;
    color: #4E5983;
    padding-left: 10px;
    text-align: left;
}

.spl-list {
    display: inline-block;
    font-family: 'Roboto Medium';
    font-size: 15px;
    color: #4E5983;
    padding-left: 10px;
    text-align: left;
}

.undisplay {
    display:none;
    opacity:0;
    position:relative;    
    transition: opacity 2s;
}

.trash-icn {
    padding-left: 18px;
    display: inline-block;
    cursor: pointer;
}

.middle-txt-style {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 18px;
}

.grp-cont-pos {
    // float: right;
    min-width: 180px;
}

.supp-cont-pos {
    float: left;
    min-width: 180px;
}