<div class="container export-container" style="padding: 0px 0px 80px 0px !important;">
  <div class="col-lg-1">
    &nbsp;
  </div>
  <div class="col-lg-10">
  <div class="export-body">
    <div class="container nopadding">
      <div class="row export-title nopadding">
        <div class="e-main-txt">Export</div>
        <div class="e-sub-txt">Générez les exports des documents que vous souhaitez</div>
      </div>
      <div class="row export-row nopadding">

        <div class="col">&nbsp;</div>

        <div class="col-lg-4 col-md-4 col-4 col-xs-4 center-row exp-border-bottom">
          <div class="grp-cont-pos">
            <div class="doc-form-check d-inline-block">
              <div class="form-check form-check-inline normsup-checkbox-cont export-checkbox">
                <input class="form-check-input normsup-checkbox" type="checkbox"
                  id="inlineCheckbox1" [(ngModel)]="exportType.group" (click)="selectGroup($event.target.checked)">
                <label class="form-check-label" for="inlineCheckbox1">Groupe</label>
              </div>
            </div>
            <div class="d-block select-cont row-input-style select-group">
              <select [disabled]="!exportType.group" class="form-control" id="groupChoice"  name="groupChoice" [(ngModel)]="groupChosen" (change)="choseGroup(groupChosen)">
                <option [ngValue]="undefined" disabled>Choisir groupe</option>
                <option *ngFor="let c of groups" [ngValue]="c">{{c.name | titlecase}}</option>
              </select>
            </div>
          </div>
          <div *ngIf="groupsChosen.length > 0">
            <div *ngFor="let group of groupsChosen"> 
              <span  class="doc-list">{{group.name}}</span>
              <span class="trash-icn" (click)="removeGroup(group)"><i class="far fa-trash-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-2 col-2 col-xs-2">
          <span class="r-robo-14 middle-txt-style">OU</span>
        </div>
        <div class="col-lg-4 col-md-4 col-4 col-xs-4 center-row exp-border-bottom">
          <div class="supp-cont-pos">
            <div class="doc-form-check d-inline-block">
              <div class="form-check form-check-inline normsup-checkbox-cont export-checkbox">
                <input class="form-check-input normsup-checkbox" type="checkbox"
                  id="inlineCheckbox2" [(ngModel)]="exportType.supplier" (click)="selectSupplier($event.target.checked)">
                <label class="form-check-label" for="inlineCheckbox2">Fournisseur</label>
              </div>
            </div>
            <div class="form-group row-input-style">
              <ng-template #rt let-r="result" let-t="term">
                <ngb-highlight [result]="r.denomination" [term]="t"></ngb-highlight>
              </ng-template>
              <input id="typeahead-http" [disabled]="!exportType.supplier" type="text" class="form-control" aria-describedby="supplierHelp" 
              [ngbTypeahead]="searchSupplier" placeholder="Rechercher" [resultTemplate]="rt" [inputFormatter]="formatter" [(ngModel)]="supplierSelected" (keydown.enter)="choseSupplier(rt)">
            </div>
          </div>
          <div *ngIf="suppliersChosen.length > 0">
            <div *ngFor="let supplier of suppliersChosen">
              <span class="doc-list">{{supplier.denomination}}</span>
              <span class="trash-icn" (click)="removeSupplier(supplier)"><i class="far fa-trash-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="col">&nbsp;</div>

      </div>
      <div class="row export-row nopadding">
        <div class="col-lg-2 col-md-2 col-2 col-xs-2">

        </div>
        <div class="col-lg-8 col-md-8 col-8 col-xs-8 center-row exp-border-bottom">
          <div class="d-block select-cont row-input-style">
            <div class="major-txt-style" style="padding-bottom: 10.5px;">Documents</div>
            <select class="form-control" id="documentsChoice"  name="documentsChoice" [(ngModel)]="documentChosen">
              <option [ngValue]="undefined" disabled>Choisir document</option>
              <option *ngFor="let c of documents" [ngValue]="c" [disabled]="c.available === false">{{c.name}}</option>
            </select>
          </div>
          <div style="padding-top: 10px;">
            <span style="cursor: pointer;" (click)="addDocumentType()">
              <img src="../../../assets/img/plus-add-icn.svg" style="height: 10px;padding-right: 8px;" /><span class="add-doc-link">Ajouter un document</span>
            </span>
          </div>
          <div class="" *ngIf="documentsToRequest.length > 0">
            <span *ngFor="let doc of documentsToRequest" class="doc-list">{{ doc | uppercase }}</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-2 col-xs-2">

        </div>
      </div>
      <div class="row export-row nopadding" style="padding-bottom: 40px !important;">
        <div class="col-lg-2 col-md-2 col-2 col-xs-2">

        </div>
        <div class="col-lg-8 col-md-8 col-8 col-xs-8 center-row">
          <div class="d-block select-cont">
            <div class="major-txt-style">Dates</div>
            <div style="display: inline-block;">
            <span class="pick-date-txt">Du</span>
            <input autocomplete="off" id="datestart" class="datepicker-ph custom-normsup-input-nb"
              (hideDaterangepicker)="closeDatePicker($event, 'start')" [(ngModel)]="dateRange.startDate"
              (selected)="selectedDate($event, 'start')" type="text" name="Date" placeholder="JJ/MM/AAAA"
              #daterangepicker1 daterangepicker
              (cancelDaterangepicker)="clear()"/></div>
            <div style="display: inline-block;">
            <span class="pick-date-txt" style="padding-left: 12px;">au</span>
            <input autocomplete="off" id="dateend"  class="datepicker-ph custom-normsup-input-nb"
              (hideDaterangepicker)="closeDatePicker($event, 'end')" [(ngModel)]="dateRange.endDate"
              (selected)="selectedDate($event, 'end')" type="text" name="Date" placeholder="JJ/MM/AAAA"
              #daterangepicker2 daterangepicker
              (cancelDaterangepicker)="clear()"/></div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-2 col-xs-2">

        </div>
      </div>
      <div class="row export-row nopadding" style="padding-bottom: 40px !important;">
        <div style="margin: 0 auto;">
          <button [disabled]="(suppliersChosen.length === 0 && groupsChosen.length === 0) || documentsToRequest.length === 0 || !dateRange.startDate || !dateRange.endDate" (click)="export()" type="button" class="btn btn-primary export-btn">Faire un export</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-lg-1">
    &nbsp;
  </div>
</div>