<div class="dash-container container dashboard">
  <div class="col-lg-12">
    <div class="row wow fadeIn first-row">
      <div class="col-lg-2-half col-md-3 infocard">
        <mdb-card class="canvaCard normsup-card-border" style="border: 1px solid #4390EF;">
          <mdb-card-body>
            <div class="row">
              <div class="col" style="display: inline-block;">
                <span class="nb">
                  300
                </span>
                <span class="card-txt">
                  Fournisseurs
                </span>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
  
      <div class="col-lg-2-half col-md-3 infocard">
        <mdb-card class="canvaCard">
          <mdb-card-body>
            <div class="row">
              <div class="col" style="display: inline-block;">
                <span class="nb">
                  240
                </span>
                <span class="card-txt">
                  Conformes
                </span>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-lg-2-half col-md-3 infocard">
        <mdb-card class="canvaCard">
          <mdb-card-body>
            <div class="row">
              <div class="col" style="display: inline-block;">
                <span class="nb non-valid">
                  60
                </span>
                <span class="card-txt">
                  Non conformes
                </span>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-lg-2-half col-md-3 infocard">
        <mdb-card class="canvaCard">
          <mdb-card-body>
            <div class="row">
              <div class="col" style="display: inline-block;">
                <span class="nb non-valid">
                  50
                </span>
                <span class="card-txt">
                  Hors ligne
                </span>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
  
      <div class="col-lg-2-half">
        <div class="row">
          <div class="col" style="display: inline-block;">
            <div style="width: 100%; position: absolute; top: 55%;; left: 0; margin-top: -20px; text-align: center; z-index: 999">
              <span class="number-fourn">{{conformityRateSet.datasets[0].data[0]}}%</span>
              <br />
            </div>
            <canvas #conformityDoughnut id="conformDoughnut" mdbChart [chartType]="conformityType" height="170"></canvas>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-1 col-md-0 mb-4">
  
      </div> -->
    </div>
  
    <div class="row wow fadeIn mt-5">
      <div class="col-lg-6 col-md-6 mb-4" style="padding-left: 0px !important;">
        <div class="card second-card-row">
          <div class="box-title">Taux de conformité par mois en %</div>
          <div class="card-body">
              <canvas [hidden]="!showConformityChart" #conformityChart id="conformityChart" mdbChart [chartType]="conformityChartType" height="135"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-4" style="padding-right: 0px !important;">
        <div class="card second-card-row">
          <div class="box-title">Prochaines relances</div>
          <div class="card-body reminders-card">
            <table class="table">
              <thead class="table-head-style">
                <tr>
                  <th>Nom du groupe</th>
                  <th>Jours avant relance</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of reminders">
                  <td class="group-txt">{{item.groupName}}</td>
                  <td class="reminder-txt">{{item.daysUntil}} jours</td>
                  <td style="text-align: center;"><button class="btn btn-normsup btn-modify">Modifier</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row wow fadeIn mb-5" style="margin-top: 2.5rem !important;">
  
      <div class="col-lg-5 col-md-4 mb-4"  style="padding-left: 0px !important;">
  
        <div class="card third-card-row">
          <div class="box-title">Fournisseurs par groupe (en %)</div>
          <div class="card-body" style="padding-bottom: 0px !important;">
            <div class="groupSupplierDoughnut">
                <canvas #groupSupplier id="groupSupplier" mdbChart [chartType]="groupSupplierType" height="162"></canvas>
            </div>
            <div style="padding-top: 30px;" class="container">
              <div style="margin: auto;" class="row ">
                <span *ngFor="let item of groupSupplierSet.datasets[0].data; let index = index" class="legend-cont col-4 nopadding pt-1">
                  <div style="line-height: 17px;">
                    <div [ngStyle]="{'background-color': groupSColors[index]}" id="circle" class="color-circle">&nbsp;</div>
                    <span class="legend-txt">Groupe {{ index }}</span>
                  </div>
                </span>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
      <div class="col-lg-7 col-md-8 mb-4"  style="padding-right: 0px !important;">
        <div class="card third-card-row">
          <div class="box-title">Taux de conformité par groupe de fournisseurs (en %)</div>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-9">
                  <canvas #conformityPerGrp id="conformityPerGrp" mdbChart [chartType]="conformityPerGrpType" height="194"></canvas>
                </div>
                <div class="col-3 v-list-scroll">
                  <div class="v-list-outer-wrp">
                    <div class="v-list">
                      <div class="v-cont">
                        <div *ngFor="let item of confPerGrpSet.datasets[0].data; let index = index" class="v-legend-cont nopadding">
                          <div style="line-height: 17px;">
                            <div [ngStyle]="{'background-color': groupSColors[index]}" id="circle" class="color-circle">&nbsp;</div>
                            <span class="legend-txt">Groupe {{ index }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>
</div>