<div class="dash-container container dashboard">

  <div class="row wow fadeIn justify-content-md-center first-row">

    <!-- <mdb-card class="canvaCard">
      <div class="card-header box-title">Mon Entreprise</div>
      <mdb-card-body>
        <div class="row">
          <div class="col" style="display: inline-block;">
              <div style="width: 120px; height: 120px; position: relative;">
                <div style="width: 100%; position: absolute; top: 50%; left: 0; margin-top: -20px; line-height:19px; text-align: center; z-index: 999999999999999">
                    <span class="number-fourn">{{nbFourni}}</span>
                      <br/>
                    <span class="fourn-text">Fournisseurs</span>
                </div>
              <canvas mdbChart [chartType]="chart5Type" [datasets]="doughnutData"
                      [colors]="chartColors" [options]="doughnutOpt"
                      [legend]="true">
              </canvas>
            </div>
            <div class="details-link">Voir en détail >></div>
          </div>

          <div class="col" style="display: inline-block;">
              <div style="width: 120px; height: 120px; position: relative;">
                <div style="width: 100%; position: absolute; top: 50%; left: 0; margin-top: -20px; line-height:19px; text-align: center; z-index: 999999999999999">
                  <span class="number-fourn">{{nbFourni}}</span>
                  <br/>
                  <span class="fourn-text">Groupes</span>
                </div>
              <canvas mdbChart [chartType]="chart5Type" [datasets]="doughnutData"
                      [colors]="chartColors" [options]="doughnutOpt"
                      [legend]="true">
              </canvas>
            </div>
            <div class="details-link">Voir en détail >></div>
          </div>
        </div>
    </mdb-card-body>

        </mdb-card> -->
    <div class="col-lg-2 col-md-3 mb-4">
      <mdb-card class="canvaCard">
        <mdb-card-body>
          <div class="row">
            <div class="col" style="display: inline-block;">
              <span class="nb">
                300
              </span>
              <span class="card-txt">
                Fournisseurs
              </span>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-lg-2 col-md-3 mb-4">
      <mdb-card class="canvaCard">
        <mdb-card-body>
          <div class="row">
            <div class="col" style="display: inline-block;">
              <span class="nb">
                223
              </span>
              <span class="card-txt">
                Conformes
              </span>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-2 col-md-3 mb-4">
      <mdb-card class="canvaCard">
        <mdb-card-body>
          <div class="row">
            <div class="col" style="display: inline-block;">
              <span class="nb">
                77
              </span>
              <span class="card-txt">
                Non conformes
              </span>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-2 col-md-3 mb-4">
      <mdb-card class="canvaCard">
        <mdb-card-body>
          <div class="row">
            <div class="col" style="display: inline-block;">
              <span class="nb">
                287
              </span>
              <span class="card-txt">
                Hors ligne
              </span>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-lg-3 col-md-4 mb-4">
      <div class="row">
        <div class="col" style="display: inline-block;">
          <div style="width: 100%; position: absolute; top: 55%;; left: 0; margin-top: -20px; text-align: center; z-index: 999999999999999">
            <span class="number-fourn">{{conformityRateSet.datasets[0].data[0]}}%</span>
            <br />
          </div>
          <canvas #conformityDoughnut id="conformDoughnut" mdbChart [chartType]="conformityType" height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!--Grid row-->

  <div class="row wow fadeIn mt-5">
    <div class="col-lg-6 col-md-6 mb-4">
      <div class="card">
        <div class="box-title">Taux de conformité par mois en %</div>
        <div class="card-body">
          <!-- <canvas *ngIf="showConformityChart" #conformityChart id="conformityChart" mdbChart 
            [chartType]="chart3Type"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"></canvas> -->
            <canvas [hidden]="!showConformityChart" #conformityChart id="conformityChart" mdbChart [chartType]="chart3Type"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mb-4">
      <div class="card">
        <div class="box-title">Prochaines relances</div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="table-head-style">
              <tr>
                <th>Nom du groupe</th>
                <th>Jours avant relance</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of reminders">
                <td class="group-txt">{{item.groupName}}</td>
                <td class="reminder-txt">{{item.daysUntil}} jours</td>
                <td style="text-align: center;"><button class="btn btn-normsup btn-modify">Modifier</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--Grid row-->
  <div class="row wow fadeIn mt-5">

    <!--Grid column-->
    <div class="col-md-9 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card content-->
        <div class="card-body">

          <div style="display: block">
            <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
              [colors]="chartColors" [options]="chartOptions" [legend]="true">
            </canvas>
          </div>
        </div>

      </div>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
</div>