.dash-container {
    // padding-left: 8rem;
    // padding-right: 4rem;
}

.dashboard {
    padding-left: 80px !important;
    padding-right: 0px !important;
}

.classic-admin-card .card-body {
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
}

.classic-admin-card .card-body p {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 0;
}

.classic-admin-card .card-body h4 {
    margin-top: 10px;
}

.classic-admin-card .card-body .float-right .fa {
    font-size: 3rem;
    opacity: 0.5;
}

.classic-admin-card .progress {
    margin: 0;
    opacity: 0.7;
}

.table-ui {
    border: 1px solid #e0e0e9;
}

.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
}

.card-big {
    // height: 330px;
    // height: 275px;
}

.second-card-row {
    height: 275px;
}

.third-card-row {
    min-height: 310px;
}

.card.card-cascade {

    .view {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    }
}


.number-fourn {
    font-family: 'Roboto Bold';
    font-size: 24px;
    color: #4E5983;
    display: block;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.tx-conform {
    color: #4E5983 !important;
    font-family: 'Avenir Medium';
    font-size: 14px;
    position: relative;
    top: 3px;
}

.fourn-text {
    font-size: 13px;
}

.box-title {
    font-size: 15px;
    font-family: 'Roboto Bold';
    color: #4E5983;
    text-align: center;
    padding-top: 13px;
}

.details-link {
    display: block;
    // text-align: center;
    padding-left: 22px;
    font-size: 12px;
    cursor: pointer;
    padding-top: 4px;
}

.dashtable {
    margin-right: 15px;
}

.card-style {
    height: 103px;
}

.nb {
    font-size: 35px;
    font-family: 'Roboto Black';
    display: block;
    color: #4390EF;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.card-txt {
    font-size: 14px;
    font-family: 'Roboto Regular';
    display: block;
    color: #4E5983;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 15px #4390EF3C !important;
}

.infocard {
    padding: 0px 20px 0px 0px !important;

}

.table-head-style {
    text-align: center;
    

    th {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        background-color: #fff;
        border-bottom: none !important;
        font-family: 'Roboto Bold' !important;
        font-size: 13px !important;
        color: #4E5983;
    }

}

td {
    vertical-align: middle !important;
}
.reminder-txt {
    text-align: left;
    font-family: 'Roboto Regular';
    font-size: 14px;
    letter-spacing: 0;
    color: #4E5983;

    &:first-child {
        border-top: none !important;
    }
}

.group-txt {
    text-align: left;
    font-family: 'Roboto Regular';
    font-size: 14px;
    letter-spacing: 0;
    color: #4390EF;

    &:first-child {
        border-top: none !important;
        padding-left: 20px !important;
    }
}

.btn-modify {
    font-family: 'Roboto Medium';
    font-size: 13px;
    text-transform: capitalize;
    color: #4390EF;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    margin-bottom: 15px;
    margin-top: 15px;
    // &:first-child {
    //     border-top: none !important;
    // }
}

.legend-cont {
    display: inline-block;
    font-family: 'Roboto Regular';
    font-size: 14px;
}

.v-legend-cont {
    display: block;
    font-family: 'Roboto Regular';
    font-size: 14px;
    padding-top: 15px !important;
    
    &:first-child {
        padding-top: 0px !important;
    }

}

.v-list-outer-wrp {
    display: table;
    height: 100%;
    // width: 100%;
}
.v-list { 
    height: 100%;
    // width: 100%; 
    display:table-cell; 
    vertical-align:bottom; 
}

.v-cont { 
    // max-height:200px; 
    // overflow-y: scroll; 
}

.v-list-scroll {
    // height: 300px;
    max-height: 350px;
    overflow-y: auto;
}

.color-circle {
    display: inline-block;
    margin-right: 10px;
}

.legend-txt {

}

.chart-legend {

} 

.bottom-legend {

}

.groupSupplierDoughnut {
    height: 183px;
}



.non-valid {
    color: #C7E0FF !important;
}

#canvas {
    // width: 15%;
}