<div [formGroup]="workerForm">
  <app-ui-checkbox-form
    #nominativeListCheckboxFormComponent
    [id]="'nominativeList'"
    [name]="'nominativeList'"
    [label]="'Je dépose ma liste nominative des travailleurs étrangers'"
    (checkboxEvent)="onNominativeListCheckboxChangeEvent($event)">
  </app-ui-checkbox-form>

  <app-ui-checkbox-form
    #noNominativeListCheckboxFormComponent
    [id]="'noNominativeList'"
    [name]="'noNominativeList'"
    [label]="'Je déclare ne pas employer des travailleurs étrangers'"
    (checkboxEvent)="onNoNominativeListCheckboxChangeEvent($event)">
  </app-ui-checkbox-form>

  <div class="row-column" style="padding-top: 30px;">
    <app-ui-upload-document-btn
      [acceptedFormat]="'application/pdf'"
      [acceptedFormatsLabel]="'Format accepté: pdf'"
      (fileChangeEvent)="onFileChangeEvent($event)">
    </app-ui-upload-document-btn>
  </div>

  <div class="row-line-form row-line-centered row-line-form-btn">
    <button type="submit" class="form-btn" [disabled]="!isFormValid()"
            (click)="onSubmit()">
      <span class="card-btn-txt-container">
        <span>Déposer</span>
      </span>
    </button>
  </div>

  <app-ui-signature-pad
    (validateSignatureEvent)="onValidateSignature($event)">
  </app-ui-signature-pad>
</div>
