/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
    min-width: 307px;
    width: 307px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 55px #00000012;
    transition: all 0.4s;
    // border-top-right-radius: 20px !important;
    // border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  
  .page-content {
    width: calc(100% - 307px);
    margin-left: 307px;
    transition: all 0.4s;
  }

  
@media (max-width: 1170px) {
  .vertical-nav {
    min-width: 4rem;
    width: 4rem;
  }
  .link-txt,.undisplay {
    display: none
  }
  .reduce-nav {
    height: 65px;
    content: ' ';
  }
  .nav-item {
    a {
      height: 100%;
      line-height: 40px;
    }
  }
  .icn-style {
    padding-left: 0px !important;
    
  }
  .added-pad {
    padding-right: 1px;
  }
  .dashboard-icn {
    left: 12px;
  }
  .supplier-icn {
    left: 11px;
  }
  .grp-icn {
    left: 2px;
  }
  .export-icn {
    left: 1px;
  }
}
  
.icn-style {
  padding-left: 10px;
  margin-right: 2rem;
  color: white;
}
  
li:first-child .icn-style {
  padding-left: 11px;
}
.nav-link-s {
  font-size: 13px;
}

.blueHeader {

  background-color: #002651;
}

.nav-item {

  color: gray;
  // background-color: #002651;
  height: 40px;

  a {
    // background-color: #002651;

    &:hover, &.active {
      background-color: white;
      font-family: 'Roboto Bold';

      span {
        color: #382244;
      }
      .link-txt {
        font-family: 'Roboto Bold';
      }
    }
    .icn-style {
      color: #4285f4 !important;
    }

  }

  .disabled {
    color: gray !important;
    background-color: #002651 !important;
  }
}

.icn-cont {
  position: absolute;
  bottom: 12px;
}
.link-txt {
  // color: white;
  font-family: 'Roboto Regular';
  font-size: 15px;
  color: #4E5983;
  line-height: 40px;
  padding-left: 45px;
}

.sb-logo {
  display: block;
  height: 95px;
  margin: auto;
}

.side-icon-placement {
  padding-left: 65px;
}

.active-lnk-icn {
  padding-left: 45px;
}