<div style="background-color: transparent;" class="vertical-nav" id="sidebar">

  <ul *ngIf="topMenuNavLinks && topMenuNavLinks.length > 0" style="padding-top: 107px;" class="nav flex-column mb-0">

    <li *ngFor="let navLink of topMenuNavLinks" class="nav-item">
      <a id="{{navLink.id}}" routerLinkActive="active" routerLink="{{navLink.navLink}}" class="nav-link text-dark nav-link-s" role="tab"
         routerLinkActive="active"  #rla="routerLinkActive">
        <div class="side-icon-placement">
          <span class="icn-cont dashboard-icn" style="bottom: 12px;">
            <img *ngIf="navLink.logoLink" [src]="navLink.logoLink" class="icn-style added-pad" />
          </span>
          <span class="link-txt">
            {{ navLink.label }}
          </span>
          <img *ngIf="defaultLinkImgCircle && rla.isActive" [src]="defaultLinkImgCircle"  class="active-lnk-icn added-pad"  />
        </div>
      </a>
    </li>

  </ul>

  <ul *ngIf="bottomMenuNavLinks && 0 !== bottomMenuNavLinks.length" class="nav flex-column mb-0 bottom-menu">
    <li *ngFor="let bottomNavLink of bottomMenuNavLinks" class="nav-item" class="nav-item">
      <a id="{{bottomNavLink.id}}" routerLinkActive="active" routerLink="{{bottomNavLink.navLink}}" class="nav-link text-dark nav-link-s" role="tab"
         routerLinkActive="active"  #rla="routerLinkActive">
        <div class="side-icon-placement">
          <span class="icn-cont dashboard-icn" style="bottom: 12px;">
            <img *ngIf="bottomNavLink.logoLink" [src]="bottomNavLink.logoLink" class="icn-style added-pad" />
          </span>
          <span class="link-txt">
            {{ bottomNavLink.label }}
          </span>
          <img *ngIf="defaultLinkImgCircle && rla.isActive" [src]="defaultLinkImgCircle"  class="active-lnk-icn added-pad"  />
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a id="documents" routerLinkActive="active" class="nav-link text-dark nav-link-s" routerLink="/backoffice/documents" role="tab">
        <div class="side-icon-placement">
          <span class="icn-cont grp-icn">
            <img src="../../../assets/img/doc-icn.svg"  class="icn-style added-pad" style="width: 29px;height: 15px;"/>
          </span>
          <span class="link-txt">Documents</span>
          <img *ngIf="active" src="../../../assets/img/active-link.svg"  class="active-lnk-icn added-pad"/>
        </div>
      </a>
    </li>

  </ul>
</div>
