/ begin:: Page
.m-grid.m-grid--hor.m-grid--root.m-page.companies
  = render 'layouts/header'
  / begin::Body
  .m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-page__container.m-body
    .m-grid__item.m-grid__item--fluid.m-wrapper
      / BEGIN: Subheader
      .m-subheader
        .d-flex.align-items-center
          .mr-auto
            %h3.m-subheader__title.m-subheader__title--separator
              Utilisateurs
            %ul.m-subheader__breadcrumbs.m-nav.m-nav--inline
              %li.m-nav__item.m-nav__item--home
                %a.m-nav__link.m-nav__link--icon{:href => "#"}
                  %i.m-nav__link-icon.la.la-home
              %li.m-nav__separator
                \-
              %li.m-nav__item
                %a.m-nav__link{:href => ""}
                  %span.m-nav__link-text
                    Conformité fournisseurs
              %li.m-nav__separator
                \-
              %li.m-nav__item
                %a.m-nav__link{:href => ""}
                  %span.m-nav__link-text
                    Utilisateurs
      .m-content
        .row
          = render 'users'
        -# .row
        -#   %h3 Enlever les notifications dans un premier temps
        -#   %p rails g model Notification company:references content:text (on sait jamais)
        -#   %p rails g model UserNotification user:references (tous les users qui followent la company)
          -# = render 'logs'
  / begin::Footer
  = render 'layouts/footer'
  = render 'layouts/sidebar'
