<div [ngClass]="getHeaderStyle()" class="navbar-fixed" style="z-index: 100000000;">
    <nav role="navigation" style="padding-bottom: 0px;padding-top: 0px;" class="navbar navbar-expand-sm navbar-dark">
        <a href="/dashboard/main" class="navbar-brand brand-logo">
            <img class="logo-img" src="../../../assets/img/white_basic_logo.png" alt="Logo">
        </a>
        <ul style="overflow: hidden;" class="nav navbar-nav navigation-bar justify-content-center">
            <li class="nav-item navigation-item">
                <a id="main" routerLinkActive="active"  class="nav-link align-anchor navigation-item" routerLink="/dashboard/main"  role="tab">Tableau de bord</a>
            </li>
            <li class="nav-item navigation-item">
                <a id="supplier" routerLinkActive="active"  class="nav-link align-anchor navigation-item" routerLink="/dashboard/supplier"  role="tab">Fournisseurs</a>
            </li>
            <li class="nav-item navigation-item">
                <a  id="groups"  routerLinkActive="active" class="nav-link align-anchor navigation-item" routerLink="/dashboard/groups"  role="tab">Groupes</a>
            </li>
            <li class="nav-item navigation-item">
                <a id="stats"  routerLinkActive="active" class="nav-link align-anchor disabled navigation-item" routerLink="/dashboard/stats"  role="tab">Statistiques</a>
            </li>
            <li class="nav-item navigation-item">
                <a id="alerts"  routerLinkActive="active" class="nav-link align-anchor disabled  navigation-item" routerLink="/dashboard/alerts"  role="tab">Alertes</a>
            </li>
            <li class="nav-item navigation-item">
                <a id="reminder"  routerLinkActive="active" class="nav-link align-anchor disabled  navigation-item" routerLink="/dashboard/reminder"  role="tab">Relances</a>
            </li>
        </ul>
        <div class='logout' tabindex="0" (click)='dropbox()' (blur)='closeDropDown()'>
            <span>
                <label>
                    <!-- {{user.userName}} -->
                    Yassin El Fahim
                </label>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <span class="glyphicon glyphicon-menu-down" style='color: #9e9e9e'></span>
            </span>
            <div *ngIf='isLogout' class="dropContent arrow_box">
                <div class='selectData' (click)='secondBtn()'>
                    <p>Mon Compte<img src="{{profileIcon}}" style="padding-left: 10px;"alt=""></p>
                </div>
                <div class='selectData' (click)='secondBtn()'>
                    <p>Gestion des utilisateurs<img src="{{usersIcon}}" style="padding-left: 10px;"alt=""></p>
                </div>
                <div class='selectData' (click)='secondBtn()'>
                    <p>Générer un reporting<img src="{{reportingIcon}}" style="padding-left: 10px;"alt=""></p>
                </div>
                <div class='selectData' (click)='secondBtn()'>
                    <p>Contactez-nous<img src="{{contactIcon}}" style="padding-left: 10px;"alt=""></p>
                </div>
                <div class='selectData' (click)='backToLogin()'>
                    <p>Log out <img src="{{signOutLogo}}" style="padding-left: 15px;" alt=""></p>
                </div>
            </div>
        </div>
        <div class="right" style="width: 60px;">
            <ul id="nav-mobile">

                <li class="li2">
                    <img src="{{logoImg}}" alt="">
                </li>
            </ul>
        </div>
        <br>
    </nav>
</div>