<div *ngIf="currentUser" [ngClass]="getHeaderStyle()" class="navbar-fixed normsup-navbar" style="z-index: 100000000;">
    <nav role="navigation" style="padding-bottom: 0px;padding-top: 0px;" class="navbar navbar-expand-sm navbar-dark">
         <a routerLink="/dashboard/main" class="navbar-brand brand-logo" style="padding-left: 60px !important;">
            <img class="logo-img" src="../../../assets/img/white_basic_logo.png" alt="Logo">
            <!-- <img class="logo-img" src="../../../assets/img/normsup-logo.png" alt="Logo"> -->
        </a>
        <div style="margin-top: 0px;" class=" logout flyover-subcont media d-flex align-items-center">
            <img *ngIf="profilePic" [src]="profilePic" alt="..." width="34" height="34" class="rounded-circle shadow-sm">
            <div class="header-txt-cont" (click)='dropbox()' (clickOutside)="closeDropdown()">
                <div style="width: 100%;max-width: 400px;" class="inline-b">
                    <h4 class="m-0 one-liner show-username header-txt">{{currentUser.name}} {{currentUser.lastname}} <span>{{role ? "| " + role : ""}}</span></h4>
                </div>
                <div class="inline-b">
                    <span class="glyphicon glyphicon-menu-down menu-dwn grow-left"> </span>
                    <div [hidden]='!isLogout' class="dropContent" style="z-index: 1000 !important;">
                        <div *ngIf="!backoffice" class='selectData' id="profile" routerLink="/dashboard/profile">
                            <div class="selectDataChild">
                                <img class="header-drop-icn" src="../../../assets/img/profile-icn.svg" style="height: 13px;"alt="">
                                <p style="padding-right: 31px;">Mon compte</p>
                            </div>
                        </div>
                        <div class='selectData' id="users" routerLink="/dashboard/users" *ngIf="isAdmin && !backoffice">
                            <div class="selectDataChild">
                                <img class="header-drop-icn" src="../../../assets/img/users-icn.svg" style="height: 17px;padding-right: 18px;"alt="">
                                <p style="padding-right: 31px;">Gestion des utilisateurs</p>
                            </div>
                        </div>
                        <div *ngIf="!backoffice" class='selectData' id="contact" routerLink="/dashboard/alerts">
                            <div class="selectDataChild">
                                <img class="header-drop-icn" src="../../../assets/img/alert-icn.svg" style="height: 13px;"alt="">
                                <p style="padding-right: 31px;">Alertes</p>
                            </div>
                        </div>
                        <div class='selectData' id="contact" (click)="logOut()" style="padding-bottom: 1px;">
                            <div class="selectDataChild" style="padding-bottom: 21.5px !important;">
                                <img class="header-drop-icn" src="../../../assets/img/logout-icn.svg" style="height: 12px;" alt="" style="padding-right: 20px !important;">
                                <p style="padding-right: 31px;">Déconnexion</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
    </nav>
</div>