
// header scss
nav {
    background-color: #FFFFFF;
    // box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.03);
    height: 65px ! important;
}

.header-logo {
    padding-left: 84px; 
    width: 223px;
}
.brand-logo {
    position: relative;

    .logo-img {
        // top: -5px;
        position: absolute;
        // height: 64px;
        width: 32px;
        padding-bottom: 8px;
        padding-top: 7px;
    }

}

.navigation-bar {
    height: 68px;
    display: inline-block;
    padding-left: 120px;
}

.navigation-item {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    min-width: 120px;
    max-width: 150px;
    text-align: center;

    
    &:hover, &.active {
        color: #002651 !important;
        background-color: #fff !important;
    }
    .disabled {
        color: gray !important;
        background-color: #002651 !important;
    }
}

.align-anchor {
    display: flex !important;
    align-items: center;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    justify-content: center;
}
nav .brand-logo img {
    vertical-align: middle;
}

nav .dropdown-trigger {
    color: #484848;
}

nav .dropdown-trigger .arrowNavIcon {
    color: #A3A6B6;
}

.navbar-fixed {
    height: 50px;
}


.dropdown-content {
    z-index: 1000;
}

.li1 {
    list-style-type: none;
    border-right: 1px solid #ffffff;
    width: 200px;
    text-align: center;
}

.li2 img {
    width: 55px;
}

#dropdown1 .dropdown-content {
    z-index: 1000;
    display: none;
}

.hide {
    display: none;
}

.signout {
    position: relative;
    float: left;
    z-index: 1000;
}


.header-txt-cont {
    display: flex;
    align-items: center;
    width: 100%;
}
.header-txt {
    width:100%;
    padding: 0px 15px;
}
.logout:hover, .logout label:hover {
    cursor: pointer;

    transition: 0.3s;
}

.logout:focus-within {
    outline: none;
}

.logout label {
    font-size: 16px !important;
    color: #3C4051;
    font-weight: normal;
    margin-bottom: 0px;
}

.logout .dropContent {
    // width: 215px;
    // height: 257px;
    color: #3C4051;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 7px;
    position: fixed;
    right: 125px;
    top: 66px;
    border-width: 1px;


    -moz-box-shadow: 1px 1px 10px 0.5px #3C4051;
    -webkit-box-shadow: 1px 1px 10px 0.5px #3C4051;
    -o-box-shadow: 1px 1px 10px 0.5px #3C4051;
    box-shadow: 1px 1px 10px 0.5px #3C4051;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#3C4051, Direction=134, Strength=10);
}


.arrow_box:after, .arrow_box:before {
	bottom: 100%;
    float: right;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #ffff;
    border-width: 6px;
    margin-left: -6px;
}
.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000000;
    border-width: 7px;
    margin-left: -7px;
}

.login-logout-span {
    min-width: 150px;
    max-width: 200px;
    display: inline-block;
    height: 100%;
}

.label-user-dropdown {
    font-family: 'Roboto Regular';
    font-size: 15px;
    letter-spacing: 0;
    color: #4E5983;
    height: 100%;
    display: inline-block;
    line-height: 30px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

hr {
    margin: 0px 0;
    border: 0.3px solid whitesmoke;
}

// .selectData {
//     width: 100%;
//     // height: 50%;
//     border-bottom: 1px solid #ececec;
// }

.selectData p {
    margin: 0;
    height: 100%;
    display: inline-block;
    font-size: 13px;
    font-family: 'Roboto Regular';
    color: #4E5983;
}

.header-drop-icn {
    padding-right: 22px;
}

.logo-app {
    display: inline-block;
    height: 100%;
    margin-left: 45%;
    img {
        height: 29px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.whiteHeader {
    height: 65px;

    nav{
        // background-color: #FFF;
        background-color: #002651 !important;
    }

    .logout .dropContent {
        // color: #333;
        color: #FFF;
        background: #FFF;
        margin-top: 0px;
        border-color: rgba(241, 241, 241, 0.884);
    }

    .selectData {
        padding: 23px 0px 0px 0px;
        text-align: left;
        display: flex;
        align-items: center;

        .selectDataChild {
            width: 100%;
            margin: 0px 19px 0px 20px;
            padding-bottom: 21px;
            border-bottom: 1px solid #F4F2F2;
        }
        &:hover {
            background: #353559;
            color: white !important;
            // box-shadow: 12px 12px 12px 12px rgba(117, 117, 117, 0.03);
            

            .selectDataChild {
                border-bottom: none !important;
            }
            p {
                color: white !important;
            }
        }

        &:first-child:hover {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &:last-child {
            border-bottom: none;

            &:hover {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #414165;
        border-width: 6px;
        margin-left: -6px;
    }
    .arrow_box:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #414165;
	    // border-bottom-color: #ffffff;
        border-width: 7px;
        margin-left: -7px;
    }

}

.menu-dwn {
    width: 100%;
    color: #FFF;
}

.show-username {
    font-family: 'Avenir Heavy';
    font-size: 15px;
    // color: #4E5983;
    color: #FFF;

    & > span {
        font-family: 'Avenir Heavy';
        font-size: 15px;
        // color: #4E5983;
        color: #FFF;
    }
}

.logout {
    text-align: center;
    z-index: 1000;
    right: 0;
    // margin-right: 93px;
    margin-right: 13rem; 
    position: fixed;
    display: inline-block;
}

@media (max-width: 1440px) {
    .logout {
        margin-right: 9.3rem !important;
    }
    .logout .dropContent {
        right: 92px !important;
    }
}

@media (max-width: 1170px) {
    .logout {
        margin-right: 9.3rem !important;
    }

    .logout .dropContent {
        right: 92px !important;
    }
}