@import "src/assets/css/variable";

.row-line-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-line-form-btn {
  padding-top: 70px;
}

/* Save btn */
.form-btn {
  padding: 5px 45px;
  border: 1px solid $normsup-blue;
  color: $normsup-blue;
  border-radius: 5px;
  background: transparent;
}

.form-btn:hover {
  border: 1px solid $normsup-blue;
  color: #fff;
  background: $normsup-blue;
}

.form-btn:disabled {
  border: 1px solid $normsup-gray !important;
  color: $normsup-gray !important;
}
