<div class="container component-padding">
  <div class="row nopadding previous-lnk-row">
      <span class="glyphicon glyphicon-chevron-left previous-arrow" aria-hidden="true"></span>Retour aux groupes
  </div>
  <div class="row nopadding  col-lg-11 col-md-11 col-sm-7 col-8" style="padding-top: 45px !important; padding-bottom: 25px !important;">
    <div class="col-lg-7 col-md-12 col-sm-10 col-8 title nopadding">
      <span style="padding-right: 20px;">Groupes</span>
      <span class="item-count">
        <span class="count-style">{{suppliers.length | i18nPlural: itemPluralCount['suppliers']}}</span> 
        {{suppliers.length | i18nPlural: itemPluralMapping['suppliers']}}
      </span>
    </div>
    <div class="col-lg-5 nopadding">
      <div class="row nopadding">
        <div class="col-6" style="padding-right: 0px !important;">
          <button style="height: 30px" type="button" class="btn btn-outline-normsup comp-btn" (click)="modifyPasswordFn()">
            <span class="button-txt">Modifier ce groupe</span>
          </button>
        </div>
        <div class="col-6" style="padding-right: 0px !important;">
          <button style="height: 30px" type="button" class="btn btn-outline-normsup comp-btn" (click)="modifyPasswordFn()">
            <span class="button-txt">Supprimer ce groupe</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row nopadding col-lg-11 col-md-11 col-sm-7 col-8">
    <div class="container nopadding" style="">
      <!-- Liste des fournisseurs -->
      <div class="normsup-card col-lg-6" style="padding-left: 0px !important;">
        <div class="normsup-card-header">
          <span>Liste des fournisseurs du groupe</span>
        </div>
        <div class="normsup-card-body">
          <div *ngFor="let supplier of suppliers" class="supplier-row">
            <span class="supplier-txt">{{supplier.denomination}}</span>
          </div>
        </div>
      </div>
      <!-- Paramètre des relances -->
      <div class="normsup-card col-lg-6" style="padding-right: 0px !important;">
        <div class="normsup-card-header">
          <span>Paramétrage des relances</span>
        </div>
        <div class="normsup-card-body">

        </div>
      </div>
    </div>
  </div>
  <ng-template #addCompGroup>
    <div class="modal-header own-modal-header-supplier" style="border-bottom: none;">
    </div>
    <div class="modal-body">
      <app-add-comp-group (changeModal)="changeModal($event)"></app-add-comp-group>
    </div>
  </ng-template>
</div>