<div class="container component-padding">
  <div class="row nopadding col-lg-11 col-md-12 col-sm-10 col-8" style="padding-top: 45px !important; padding-bottom: 25px !important;">
    <div class="col title nopadding">
      <span style="padding-right: 20px;">Groupes</span>
      <span class="item-count" *ngIf="showCount"><span class="count-style">{{items.length | i18nPlural: itemPluralCount['group']}}</span> {{items.length | i18nPlural: itemPluralMapping['group']}}</span>
    </div>
    <div class="" style="width: 211px;">
      <button style="width: 211px;height: 30px" (click)="openModal()" type="button" class="btn btn-primary custom-normsup-button nopadding">
          <span class="add-grp-btn"><embed style="height: 10px;" src="../../../assets/img/plus-icn.svg" />
            <span style="margin-left:5px;">Modifier ce groupe</span>
          </span>
      </button>
      <button style="width: 211px;height: 30px" (click)="openModal()" type="button" class="btn btn-primary custom-normsup-button nopadding">
        <span class="add-grp-btn"><embed style="height: 10px;" src="../../../assets/img/plus-icn.svg" />
          <span style="margin-left:5px;">Supprimer ce groupe</span>
        </span>
      </button>
    </div>
  </div>
  <div class="row nopadding col-lg-11 col-md-11 col-sm-7 col-8">
    <div class="container nopadding" style="">
      <!-- Liste des fournisseurs -->
      <div class="normsup-card col-lg-6" style="padding-left: 0px !important;">
        <div class="normsup-card-header">
          <span>Liste des fournisseurs du groupe</span>
        </div>
        <div class="normsup-card-body">
          <span *ngFor="let supplier of suppliers" class="supplier-row">
            {{supplier.denomination}}
          </span>
        </div>
      </div>
      <!-- Paramètre des relances -->
      <div class="normsup-card col-lg-6" style="padding-right: 0px !important;">
        <div class="normsup-card-header">
          <span>Paramétrage des relances</span>
        </div>
        <div class="normsup-card-body">

        </div>
      </div>
    </div>
  </div>
  <ng-template #addCompGroup>
    <div class="modal-header own-modal-header-supplier" style="border-bottom: none;">
    </div>
    <div class="modal-body">
      <app-add-comp-group (changeModal)="changeModal($event)"></app-add-comp-group>
    </div>
  </ng-template>
</div>