.previous-lnk-row {
    position: relative;
    padding-top: 75px !important;
    text-align: center;
    cursor: pointer;

    .previous-txt {
        font-family: 'Roboto Medium';
        font-size: 13px;
        letter-spacing: 0;
        color: #4E5983;
        text-transform: uppercase;
        opacity: 0.5;
    }
    .previous-arrow {
        vertical-align: middle;
        font-size: 9px;
        position: absolute;
        bottom: 6px;
        left: -2px;
        top: unset;
        color: #4E5983;
        text-transform: uppercase;
        opacity: 0.5;
    }
}
.button-txt {
    font-family: 'Roboto Medium';
    font-size: 13px;
    letter-spacing: 0;
}

.comp-btn {
    width: 100%;
    border: 1px solid #C7E0FF !important;
    padding: unset !important;
    box-shadow: unset;
    text-transform: unset;
    
    .button-txt {
        color: #4E5983;
    }
}

.spont-btn {
    width: 100%;
    border: 1px solid #4390EF !important;
    padding: unset !important;
    box-shadow: unset;
    text-transform: unset;

    .button-txt {
        color: #4390EF;
    }
}

.save-btn {
    border-radius: 5px !important;

    .button-txt {
        color: #FFFFFF;
        text-transform: none;
    }
}
.group-card-row {
    padding-top: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid #F3F7FC;
}

.basic-txt {
    font-family: 'Roboto Medium';
    font-size: 15px;
    letter-spacing: 0;
    color: #4E5983;
}

.switch-cont {
    float: right;
    padding-right: 45px;
}


.text-cont {
    padding-left: 35px;
}

.params-input {
    padding-top: 21px;

    &:first-child {
        padding-top: 27px;
    }
}

.sub-txt {
    font-family: 'Roboto Regular';
    font-size: 14px;
    letter-spacing: 0;
    color: #4390EF;
}

.doc-form-check {
    float: right;
    padding-right: 35px;
  
    & > div {
      font-family: 'Roboto Regular';
      color: #4E5983;
      font-size: 14px;
    }
  }
  
.select-cont {
    float: right;
    padding-right: 45px;
    width: 100%;
    max-width: 250px;
}

.freq-txt {
    padding-top: 20px;
    font-family: 'Roboto Regular';
    font-size: 14px;
    letter-spacing: 0;
    color: #4E5983;
}

.select-cont2 {
    padding-left: 10px;
}

.disabled-row {
    opacity: 0.3;
    -webkit-transition: opacity 0.6s, visibility 0s 0.6s;
	transition: opacity 0.6s, visibility 0s 0.6s;
}

.select-comp-but {
    position: relative; 
    padding-bottom: 30px;
}

.add-doc-details {
    padding-top: 10px;
    padding-right: 45px;
    cursor: pointer;
    text-align: right;
}

.group-details-name {
    font-family: 'Roboto Bold';
    font-size: 25px;
    letter-spacing: 0;
    color: #4390EF;
}
.delete-grp-txt {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Roboto Regular';
    font-size: 15px;
    letter-spacing: 0;
    color: #4E5983;
}
.del-grp-btn {
    border-radius: 5px;
    float: left;
    width: 100%;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}