.loginContainer {
    // background: url("../../../assets/img/indexLogo.png");
    // background: url("../../../assets/img/indexLogo.png")no-repeat center center fixed;
    background-color: #F3F7FC;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    position: absolute;
}

.logout-logo {
    padding-bottom: 12rem;
}

.loginContainer a {
    padding: 31px;
    height: 39px !important;
}

.container {
    max-width: 400px;
    text-align: center;
    top: 7%;
    position: absolute;
    left: 0%;
    right: 0%;
    width: 100%;
}


.login-box {
    // width: 400px;
}
.container h1 {
    font-size: 28px;
    font-weight: 200;
    margin: 25px 0 20px 0;
}

.colorDiv {
    padding: 50px 0px;
    background-color: white;
    border-radius: 10px;
}

.error {
    height: 18px;
    width: 233px;
    color: #484848;
    // font-family: Metropolis;
    font-size: 13px;
    font-weight: 200;
    line-height: 18px;
}

.hide {
    display: none;
}

form button i {
    margin-left: 0px;
}

::-webkit-input-placeholder {
    font-weight: 300;
    color: #A3A6B6;
}

 :-moz-placeholder {
    /* Firefox 18- */
    font-weight: 300;
    color: #A3A6B6;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 300;
    color: #A3A6B6;
}

 :-ms-input-placeholder {
    font-weight: 300;
    color: #A3A6B6;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #A3A6B6;
  transition: background-color 5000s ease-in-out 0s;
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .material-icons {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .material-icons  { left:  0px;}
.right-addon .material-icons { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.searchText {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Regular';
    font-size: 13px;
    letter-spacing: 0;
    color: #4390EF;
    line-height: 22px;
    font-size: 12px;
    text-transform: capitalize;
}

.submit-btn {
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    border-color: lightblue;
    color: white;
    border-radius: 5px;
}  

.login-icn {
    color: white;
    position: absolute;
    right: 9px;
    top: 7px;
}

.input-style {
    height: 35px;
    border-radius: 10px !important;
}

.virtualBg{
    position: absolute;
    width: 100%;
    z-index: 0;
    bottom: 0;
  }
.deconnect-txt-one {
    font-family: 'Roboto Bold';
    font-size: 25px;
    letter-spacing: 0;
    color: #4390EF;
}

.deconnect-txt-two {
    font-family: 'Roboto Regular';
    font-size: 15px;
    letter-spacing: 0;
    color: #4E5983;
}