<div class="loginContainer">
  <embed src="../../../assets/img/login-footer.svg" class="virtualBg" />
  <div class="container login-box">
    <div class="logout-logo">
      <embed src="../../../assets/img/login-logo.svg" />
    </div>
    <div class="row">

      <div class="colorDiv col s12">
        <embed src="../../../assets/img/logout-page-icn.svg" />
        <div class=" deconnect-txt-one" style="padding-top: 35px;">
          Vous avez bien été déconnecté
        </div>
        <div class="deconnect-txt-two">
          Vous allez être redirigé vers le site NormSup.com
        </div>
      </div>
    </div>

  </div>
</div>

<div class="spinner-container" [ngClass]="{'show':isLoader}">
  <div class="cs-loader">
    <div class="cs-loader-inner">
      <label> ●</label>
      <label> ●</label>
      <label> ●</label>
      <label> ●</label>
      <label> ●</label>
      <label> ●</label>
    </div>
    <h3 class="spinner-text">Please wait</h3>
  </div>
</div>