.upload-success-row {
    padding-top: 113px;
    margin-bottom: 50px;
}

.upload-success-cont {
    background-color: #ffffff;
    border-radius: 10px;
}

.upload-success-txt {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Bold';
    font-size: 25px;
    letter-spacing: 0;
    color: #4390EF;
    padding: 0px 143px;
}

.upload-success-subtxt {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 70.5px;
    font-family: 'Roboto Regular';
    font-size: 15px;
    letter-spacing: 0;
    color: #4E5983;
}

.upload-success-icn {
    margin: 0 auto;
    display: block;
    padding-bottom: 12.5px;
    padding-top: 68px;
}