/ begin:: Page
.m-grid.m-grid--hor.m-grid--root.m-page.companies
  = render 'layouts/header'
  / begin::Body
  .m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-page__container.m-body
    .m-grid__item.m-grid__item--fluid.m-wrapper
      / BEGIN: Subheader
      .m-subheader
        .d-flex.align-items-center
          .mr-auto
            %h3.m-subheader__title.m-subheader__title--separator
              Fournisseurs
            %ul.m-subheader__breadcrumbs.m-nav.m-nav--inline
              %li.m-nav__item.m-nav__item--home
                %a.m-nav__link.m-nav__link--icon{:href => "#"}
                  %i.m-nav__link-icon.la.la-home
              %li.m-nav__separator
                \-
              %li.m-nav__item
                %a.m-nav__link{:href => ""}
                  %span.m-nav__link-text
                    Conformité fournisseurs
              %li.m-nav__separator
                \-
              %li.m-nav__item
                %a.m-nav__link{:href => ""}
                  %span.m-nav__link-text
                    Fournisseurs
      .m-content
        .row
          %h1 Vos reportings
        .row
          %p
            Rapide : voir comment générer des reportings et les sauved en bdd.
          %p
            Dans un premier temps, ne générer que un csv à la volée
          %p
            Dans un deuxieme temps, envoyer l'url.csv à un worker d'import cloudinary
          %p
            Solution :
            = link_to 'https://gorails.com/episodes/export-to-csv', 'https://gorails.com/episodes/export-to-csv'

          -# = render 'logs'
  / begin::Footer
  = render 'layouts/footer'
  = render 'layouts/sidebar'
