%li#m_quick_sidebar_toggle.m-nav__item.m-nav__item--info.m-nav__item--qs
  %a.m-nav__link.m-dropdown__toggle{:href => "#"}
    %span.m-nav__link-icon.m-nav__link-icon-alt
      %span.m-nav__link-icon-wrapper
        %i.flaticon-settings-1
