<div class="container main-cont" style="max-width: 933px;">
  <div class="cont-wrapper">

    <div class="sub-cont">
      <div class="container nopadding" style="padding-bottom: 45px !important; padding-top: 20px !important;">
        <div class="row nopadding">
          <div class="col">
            <span class="title">Fournisseurs</span>
            
            <span class="item-count count-placement" *ngIf="dataLength !== -1">Vous avez <span class="count-style" *ngIf="dataLength !== -1">{{dataLength| i18nPlural: itemPluralCount['suppliers']}}</span> {{dataLength | i18nPlural: itemPluralMapping['suppliers']}}</span>
          </div>
          <div class="justify-content-end">
            <div class="col-lg-auto col-md-auto">
              <button (click)="openModal(template, 'Supplier')" type="button" class="btn btn-primary custom-normsup-button nopadding">
                <span class="add-supplier-txt"><img style="height: 10px;" src="../../../assets/img/plus-icn.svg"/> Ajouter un fournisseur</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="table-cont">
        <app-supplier-table #supplierTableComp 
          (infoModal)="openInfoModal($event)" [items]=items (suppliersData)="suppliersDataUpdate($event)"></app-supplier-table>
      </div>
    </div>

  
    <ng-template class="test" #template>
      <div class="modal-header own-modal-header-supplier">
      </div>
      <div class="modal-body">
        <div class="mod-header">
          <div style="display: block;">
            &nbsp;
            <button type="button" style="cursor:pointer;width:20px;height:20px;" class="close pull-right" aria-label="Close" (click)="hideModal('mainModal')">
              <img src="../../../assets/img/close-icn.svg" style="height: 16px; cursor:pointer;pointer-events: none;" />
            </button>
          </div>
          <div class="supplier-modal-title">Nouveau fournisseur</div>
        </div>
        <div *ngIf="modalState === 'enterSiret'">
          <div class="row search-company" [ngClass]="{'fade-in': modalState === 'enterSiret', 'fade-away': modalState !== 'enterSiret'}">
            <!-- <span class="title-add-sup">Information sur l'entreprise recherchée</span> -->
            <div style="text-align: center; padding: 0px 107px;" class="input-field col s12">
              <span class="comp-txt">1. Société</span>
              <label class="addSupp-label" for="company-input">Siret ou Siren</label>
              <input class="form-control custom-normsup-input-nb enter-siret-input" [(ngModel)]="searchCompanyID" (keydown.enter)="searchCompany(searchCompanyID)" #companyInput id="company-input" type="text" data-length="10" appFocus>
            </div>
          </div>
          <div class="f-button-addsup">
            <button (click)="searchCompany(searchCompanyID)" [disabled]="!searchCompanyID" class="btn btn-primary custom-normsup-button nxt-btn-addsup" type="submit" name="action">
              <span class="searchText">Suivant</span>
            </button>
            <span class="red-err-txt" *ngIf="searchCompany404">Aucun résultat trouvé. Veuillez entrer un siret/siren valide.</span>
          </div>
        </div>
        <div class="container nopadding" *ngIf="modalState === 'compInfo'">
          <div class="row" style="margin: auto;text-align: center;padding-top: 29px;">
            <div class="interloc-title">2. INFORMATIONS ENTREPRISE</div>
          </div>
          <div style="padding-left: 53px !important; padding-right: 54px !important;" class="row ma" [ngClass]="{'fade-in': modalState === 'compInfo', 'fade-away': modalState !== 'compInfo'}">
            <form action="#" class="form-style">
                <div>
                  <div  style="padding-top: 49px !important;" class="row ma">
                    <div class="form-group  col s6 nopadding input-space">
                      <input (focus)="focus.one=true" (blur)="focus.one=false" id="denom-legale" name="denom" 
                        type="text" class="form-control custom-normsup-input-nb" [(ngModel)]="companyToAdd.denomination">
                      <label [ngClass]="{'lowered-opac': !companyToAdd.denomination && focus.one === false , 'custom-label-input-test-active': companyToAdd.denomination || focus.one === true}" class="custom-normsup-label-test" for="denom-legale">Dénomination légale</label>
                    </div>
                    <div class="form-group col s6 nopadding">
                      <input style="cursor: not-allowed;" (focus)="focus.two=true" (blur)="focus.two=false" id="siret" type="text" name="siren" class="form-control custom-normsup-input-nb custom-disabled" [(ngModel)]="companyToAdd.siren" [disabled]="true">
                      <label [ngClass]="{'lowered-opac': true, 'custom-label-input-test-active': companyToAdd.siren || focus.two === true}" class="custom-normsup-label-test" for="siren">Siren</label>
                    </div>
                  </div>
                  <div class="row ma vert-input-space">
                    <div class="form-group col s6 nopadding">
                      <input (focus)="focus.three=true" (blur)="focus.three=false" id="address" name="address" type="text" class="form-control custom-normsup-input-nb" [(ngModel)]="companyToAdd.address">
                      <label [ngClass]="{'lowered-opac': !companyToAdd.address && focus.three === false, 'custom-label-input-test-active': companyToAdd.address || focus.three === true}" class="custom-normsup-label-test" for="address">Adresse</label>
                    </div>
                  </div>
                  <div class="row ma vert-input-space">
                    <div class="form-group col s6 nopadding input-space">
                      <input (focus)="focus.four=true" (blur)="focus.four=false" id="code-postal" name="code-postal" type="text" class="form-control custom-normsup-input-nb" [(ngModel)]="companyToAdd.postalCode">
                      <label [ngClass]="{'lowered-opac': !companyToAdd.postalCode && focus.four === false, 'custom-label-input-test-active': companyToAdd.postalCode || focus.four === true}" class="custom-normsup-label-test" for="code-postal">Code postal</label>
                    </div>
                    <div class="form-group col s6 nopadding">
                      <input (focus)="focus.five=true" (blur)="focus.five=false" id="city" name="city" type="text" class="form-control custom-normsup-input-nb" [(ngModel)]="companyToAdd.city">
                      <label [ngClass]="{'lowered-opac': !companyToAdd.city && focus.five === false, 'custom-label-input-test-active': companyToAdd.city || focus.five === true}" class="custom-normsup-label-test" for="city">Ville</label>
                    </div>
                  </div>
                  <div class="row ma vert-input-space">
                    <div class="form-group col s6 nopadding input-space">
                      <input (focus)="focus.six=true" (blur)="focus.six=false" id="date-creation" name="date-creation" type="text" class="form-control custom-normsup-input-nb" [(ngModel)]="companyToAdd.dateCreation">
                      <label [ngClass]="{'lowered-opac': !companyToAdd.dateCreation && focus.six === false, 'custom-label-input-test-active': companyToAdd.dateCreation || focus.six === true}" class="custom-normsup-label-test" for="date-creation">Date de création</label>
                    </div>
                    <div class="form-group col s6 nopadding">
                      <input (focus)="focus.seven=true" (blur)="focus.seven=false" id="class-unite" name="class-unite" type="text" class="form-control custom-normsup-input-nb" [(ngModel)]="companyToAdd.legalUnit">
                      <label [ngClass]="{'lowered-opac': !companyToAdd.legalUnit && focus.seven === false, 'custom-label-input-test-active': companyToAdd.legalUnit || focus.seven === true}" class="custom-normsup-label-test" for="class-unite">Domaine d'activité</label>
                    </div>
                  </div>
                </div>
              <div style="padding-top: 30.5px;" class="select-comp-but">
                <div class="container">
                  <div class="row">
                    <div class="col">
                        <button style="float: right" type="button" class="btn btn-outline-normsup prec-btn-supplier text-capitalize" (click)="previous('enterSiret')">
                            <span class="button-txt">Précédent</span>
                          </button>
                    </div>
                    <div class="col">
                      <button  style="border-radius: 5px;float: left;" type="button" class="btn btn-primary text-capitalize next-btn-supplier" (click)="interlocInfo()" [disabled]="(!companyToAdd.denomination || !companyToAdd.address || !companyToAdd.siren || !companyToAdd.dateCreation)">
                        <span class="button-txt">Suivant</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="container nopadding" *ngIf="modalState === 'interlocInfo'">
          <div style="padding-left: 0px !important; padding-right: 0px !important;" class="container add-interloc">
            <div class="row" style="margin: auto;text-align: center;padding-top: 29px;">
              <div class="interloc-title">3. Information sur l'interlocuteur</div>
              <div class="optional-txt">Ces informations sont facultatives.</div>
            </div>
            <div style="padding-bottom: 40px;padding-top: 49px;margin: auto;padding-left: 53px;padding-right: 54px;" class="row">
              <div style="margin-right: 30px !important;" class="input-field  col s6 nopadding">
                <input (focus)="interlocFocus.one=true" (blur)="interlocFocus.one=false"  id="interloc-name" name="interloc-name" type="text" class="form-control  custom-normsup-input-nb" [(ngModel)]="interloc.name">
                <label [ngClass]="{'lowered-opac': !interloc.name && interlocFocus.one === false, 'custom-label-input-test-active': interloc.name || interlocFocus.one === true}" class="custom-normsup-label-test" for="interloc-name">Prénom</label>
              </div>
              <div class="input-field col s6 nopadding">
                <input (focus)="interlocFocus.two=true" (blur)="interlocFocus.two=false"  id="interloc-lastname" name="interloc-lastname" type="text" class="form-control  custom-normsup-input-nb" [(ngModel)]="interloc.lastname">
                <label [ngClass]="{'lowered-opac': !interloc.lastname && interlocFocus.two === false, 'custom-label-input-test-active': interloc.lastname || interlocFocus.two === true}" class="custom-normsup-label-test" for="interloc-lastname">Nom</label>
              </div>
            </div>
            <div style="margin: auto;padding-left: 53px;padding-right: 54px;" class="row">
              <div style="margin-right: 30px !important;" class="input-field col s6 nopadding">
                <input (focus)="interlocFocus.three=true" (blur)="interlocFocus.three=false" id="interloc-phone" name="interloc-phone" type="text" class="form-control  custom-normsup-input-nb" [(ngModel)]="interloc.phonenumber" OnlyNumber='true' >
                <label [ngClass]="{'lowered-opac': !interloc.phonenumber && interlocFocus.three === false, 'custom-label-input-test-active': interloc.phonenumber || interlocFocus.three === true}" class="custom-normsup-label-test" for="interloc-phone">Téléphone</label>
              </div>
              <div class="input-field col s6 nopadding">
                <input (focus)="interlocFocus.four=true" (blur)="interlocFocus.four=false" id="interloc-mail" name="interloc-mail" type="text" class="form-control  custom-normsup-input-nb" [(ngModel)]="interloc.email">
                <label [ngClass]="{'lowered-opac': !interloc.email && interlocFocus.four === false, 'custom-label-input-test-active': interloc.email || interlocFocus.four === true}" class="custom-normsup-label-test" for="interloc-mail">Email</label>
              </div>
            </div>
          </div>
          <div style="padding-top: 30.5px;" class="select-comp-but">
            <div class="row">
              <div class="col">
                <button style="float: right" type="button" class="btn btn-outline-normsup prec-btn-supplier text-capitalize" (click)="previous('compInfo')">
                  <span class="button-txt">Précédent</span>
                </button>
              </div>
              <div class="col">
                <button style="border-radius: 5px;float: left;" type="button" class="btn btn-primary text-capitalize next-btn-supplier" (click)="docInfo()" [disabled]="(interloc.name !== '' || interloc.lastname !== '' || interloc.phonenumber !== '' || interloc.email !== '') && (interloc.name === '' || interloc.lastname === '' || interloc.phonenumber === '' || interloc.email === '')">
                  <span class="button-txt">Suivant</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="container nopadding" *ngIf="modalState === 'docInfo'">
            <div style="padding-left: 0px !important; padding-right: 0px !important;" class="container">
              <div class="row" style="margin: auto;text-align: center;padding-top: 29px;">
                <div class="interloc-title">4. Documents</div>
                <div class="optional-txt">Choisissez les documents à demander.</div>
              </div>
              <div style="padding-bottom: 30px;padding-top: 30px;margin: auto;padding-left: 53px;padding-right: 54px;" class="row">
                <div style="text-align: center;width: 100%; text-transform: capitalize;" class="interloc-title">
                  Légal
                </div>
                <div class="doc-form-check">
                  <div class="form-check form-check-inline normsup-checkbox-cont">
                    <input class="form-check-input normsup-checkbox" type="checkbox" id="inlineCheckbox3" value="option3" disabled [(ngModel)]="documentsSettings.legal.kbis">
                    <label class="form-check-label" for="inlineCheckbox3" style="color: #4E5983;">KBIS</label>
                  </div>
                  <div class="form-check form-check-inline normsup-checkbox-cont">
                    <input class="form-check-input normsup-checkbox" type="checkbox" id="inlineCheckbox1" value="option1" disabled [(ngModel)]="documentsSettings.legal.urssaf">
                    <label class="form-check-label" for="inlineCheckbox1" style="color: #4E5983;">URSSAF</label>
                  </div>
                  <div class="form-check form-check-inline normsup-checkbox-cont">
                    <input class="form-check-input normsup-checkbox" type="checkbox" id="inlineCheckbox2" value="option2" disabled [(ngModel)]="documentsSettings.legal.lnte">
                    <label class="form-check-label" for="inlineCheckbox2" style="color: #4E5983;">LNTE</label>
                  </div>
                  
                </div>
              </div>
            </div>
            <div style="" class="select-comp-but">
              <div class="row">
                <div class="col">
                  <button style="float: right" type="button" class="btn btn-outline-normsup prec-btn-supplier text-capitalize" (click)="previous('interlocInfo')">
                    <span class="button-txt">Précédent</span>
                  </button>
                </div>
                <div class="col">
                  <button style="border-radius: 5px;float: left;" type="button" class="btn btn-primary text-capitalize next-btn-supplier" (click)="addCompany({comp: companyToAdd, interloc: interloc})" [disabled]="addInterloc === true && (interloc.name === '' || interloc.lastname === '' || interloc.phonenumber === '' || interloc.email === '')">
                    <span class="button-txt">Suivant</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="container nopadding" *ngIf="modalState === 'supplierSuccess'">
            <div style="padding-left: 0px !important; padding-right: 0px !important;" class="container">
              <div class="row" style="margin: auto;text-align: center;padding-top: 29px;">
                <div class="optional-txt">Votre fournisseur a été ajouté avec succès !</div>
              </div>
            </div>
            <div style="padding-top: 30px;" class="select-comp-but">
              <div class="row nopadding">
                <div class="col nopadding" style="text-align: center;">
                  <button style="text-transform: none;" type="button" class="btn btn-outline-normsup new-group-btn"
                    (click)="nextState('enterSiret')">
                    <span class="button-txt">Nouveau fournisseur</span>
                  </button>
                <!-- </div> -->
                <!-- <div class="col nopadding"> -->
                  <button style="border-radius: 5px;" type="button"
                    class="btn btn-primary text-capitalize next-btn-group"
                    (click)="hideModal()">
                    <span class="button-txt">Continuer</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer own-modal-footer-supplier">

      </div>
    </ng-template>
    <ng-template #legalDoc>
      <div class="modal-body">
        <app-legal-doc-modal (hideModal)="hideModal($event)" (addDocModal)="openInfoModal($event)"></app-legal-doc-modal>
      </div>
      <div class="modal-footer" style="padding: 4px;border-style: none !important;">
      </div>
    </ng-template>
    <ng-template #compDoc>
        <div class="modal-body">
          <app-comp-doc-modal (hideModal)="hideModal($event)" (addDocModal)="openInfoModal($event)"></app-comp-doc-modal>
        </div>
        <div class="modal-footer" style="padding: 4px;border-style: none !important;">
        </div>
    </ng-template>
    <ng-template class="test" #addInterloc>
      <div class="modal-header own-modal-header-supplier">
      </div>
      <div class="modal-body">
        <app-add-representative [supplierInfo]="addRepresCompInfo" (hideModal)="hideModal($event)" (addInterlocModal)="addInterlocModal($event)"> </app-add-representative>
      </div>
      <div class="modal-footer own-modal-footer-supplier">
    
      </div>
    </ng-template>
  </div>
</div>

