<div class="container main-cont">
  <div class="cont-wrapper">
    <div>
      <span class="title">Mes Fournisseurs</span>
    </div>
    <div class="sub-cont">
      <span class="table-header">Vous avez {{itemsDisplay.length | i18nPlural: itemPluralMapping['supplier']}}.</span>
      <div style="position: relative;">
        <span (click)="openModal(template, 'Supplier')" class="glyphicon glyphicon-plus-sign plus-icn" role="button"></span>
      </div>
      <hr />
      <div class="table-cont">
        <app-supplier-table #supplierTableComp 
          (infoModal)="openInfoModal($event)"></app-supplier-table>
      </div>
    </div>

  
    <ng-template class="test" #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="modalState === 'enterSiret'">Ajouter un fournisseur</h4>
        <h4 class="modal-title pull-left" *ngIf="modalState === 'compInfo'">Information sur l'entreprise </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row search-company" *ngIf="modalState === 'enterSiret'" [ngClass]="{'fade-in': modalState === 'enterSiret', 'fade-away': modalState !== 'enterSiret'}">
            <!-- <span class="title-add-sup">Information sur l'entreprise recherchée</span> -->
            <div class="input-field col s12">
              <input [(ngModel)]="searchCompanyID" (keydown.enter)="searchCompany(searchCompanyID)" #companyInput id="company-input" type="text" data-length="10" appFocus>
              <label for="company-input">Société</label>
              <span class="helper-text">Sirene ou Siret</span>
            </div>
            <button (click)="searchCompany(searchCompanyID)" [disabled]="!searchCompanyID" class="btn waves-effect waves-light submit-btn" type="submit" name="action">
              <span class="searchText">Rechercher</span>
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div class="row" *ngIf="modalState === 'compInfo'" [ngClass]="{'fade-in': modalState === 'compInfo', 'fade-away': modalState !== 'compInfo'}">
            <!-- <span class="title-add-sup">Séléctionnez l'entreprise recherchée : </span> -->
            <!-- <span class="title-add-sup">Information sur l'entreprise recherchée : </span> -->
            <form action="#" class="form-style">
                <!-- <p *ngFor="let company of companies; index as i">
                  <label for="company-{{i}}">
                    <input class="with-gap" name="radio-group" id="company-{{i}}" type="radio"
                    (change)="onCompanySelection(company)" [ngModel]="selectedCompany" [value]="company" />
                    <span class="select-company">{{company.fields?.denominationunitelegale ? company.fields?.denominationunitelegale : 'Pas de dénomination légale'}} - Siret: {{company.fields?.siret}}</span>
                  </label>
                </p> -->
                <div>
                  <div style="padding-top: 10px;" class="row">
                    <div class="input-field  col s6">
                      <input id="denom-legale" name="denom" type="text" class="form-control" [(ngModel)]="companyToAdd.denomination" placeholder="Dénomination légale">
                      <label class="active" for="denom-legale">Dénomination légale</label>
                    </div>
                    <div class="input-field  col s6">
                      <input id="siret" type="text" name="siren" class="form-control" [(ngModel)]="companyToAdd.siren" placeholder="Siren" [disabled]="true">
                      <label class="active" for="siren">Siren</label>
                    </div>
                  </div>
                  <div class="row">
                    <div *ngIf="company.fields.datecreationetablissement" class="input-field  col s6">
                      <input id="date-creation" name="date-creation" type="text" class="form-control" [(ngModel)]="companyToAdd.dateCreation" [disabled]="true">
                      <label class="active" for="date-creation">Date de création</label>
                    </div>
                    <div class="input-field  col s6">
                      <input id="address" name="address" type="text" class="form-control" [(ngModel)]="companyToAdd.address" placeholder="Adresse de l'établissement">
                      <label class="active" for="address">Adresse</label>
                    </div>
                  </div>
                </div>
                <div class="plus-btn-container">
                  <div class="add-interloc-cont">
                    <span class="add-interloc-txt">Ajouter un interlocuteur</span>
                    <a style="display: inline-block; background-color: lightblue;" class="btn-floating waves-effect waves-light" (click)="this.addInterloc = !this.addInterloc;"><i style="font-size: 2.5rem;" class="material-icons">add</i></a>
                  </div>
                </div>
                <div class="add-interloc" *ngIf="addInterloc">
                  <h4 style="padding-bottom: 15px;color: #333;">Information sur l'interlocuteur</h4>
                  <div class="row">
                    <div class="input-field  col s6">
                        <input id="interloc-name" name="interloc-name" type="text" class="form-control" [(ngModel)]="interloc.name" placeholder="Prénom">
                        <label class="active" for="interloc-name">Prénom</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="interloc-lastname" name="interloc-lastname" type="text" class="form-control" [(ngModel)]="interloc.lastname" placeholder="Nom de famille">
                        <label class="active" for="interloc-lastname">Nom</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                        <input id="interloc-phone" name="interloc-phone" type="text" class="form-control" [(ngModel)]="interloc.phone" placeholder="Numéro de téléphone">
                        <label class="active" for="interloc-phone">Téléphone</label>
                    </div>
                      <div class="input-field col s6">
                          <input id="interloc-mail" name="interloc-mail" type="text" class="form-control" [(ngModel)]="interloc.mail" placeholder="Adresse mail">
                          <label class="active" for="interloc-mail">Email</label>
                      </div>
                  </div>
                </div>
              <div class="select-comp-but">
                <button (click)="addCompany({comp: companyToAdd, interloc: interloc})" [disabled]="(!companyToAdd.denomination || !companyToAdd.address || !companyToAdd.siren || !companyToAdd.dateCreation) || (addInterloc === true && (interloc.name === '' || interloc.lastname === '' || interloc.phone === '' || interloc.mail === ''))" class="btn waves-effect waves-light submit-btn" type="submit" name="action">
                  <span class="searchText">Ajouter</span>
                  <i class="material-icons right">send</i>
                </button>
                <button (click)="hideModal()" class="btn waves-effect waves-light submit-btn" type="submit" name="action">
                  <span class="searchText">Retour</span>
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
      </div>
    </ng-template>
    <ng-template #supplierinfo>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Information fournisseur</h4>
      </div>
      <div class="modal-body">
        <div class="card card-style">
          <div class="card-body"><span class="card-text">Nom</span> <span class="supplier-info-text">{{supplierInfo.name}}</span></div>
        </div>
        <div class="card card-style">
          <div class="card-body"><span class="card-text">Siren</span> <span class="supplier-info-text">{{supplierInfo.siren}}</span></div>
        </div>
        <div class="card card-style">
          <div class="card-body"><span class="card-text">Adresse</span> <span class="supplier-info-text">{{supplierInfo.adress}}</span></div>
        </div>
        <div class="card card-style">
          <div class="card-body"><span class="card-text">Date d'ajout</span> <span class="supplier-info-text">{{supplierInfo.dateCrea}}</span></div>
        </div>
      </div>
    </ng-template>
    <ng-template #legalDoc>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Documents Légaux</h4>
        </div>
        <div class="modal-body">
          <app-legal-doc-modal></app-legal-doc-modal>
        </div>
    </ng-template>
    <ng-template #compDoc>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Documents Complémentaires</h4>
        </div>
        <div class="modal-body">
          <app-comp-doc-modal></app-comp-doc-modal>
        </div>
    </ng-template>
  </div>
</div>