<div class="container main-cont">
  <div class="cont-wrapper">
    <div>
      <span class="title">Fournisseurs</span>
    </div>
    <div class="sub-cont">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-lg-auto col-md-auto">
            <button (click)="openModal(template, 'Supplier')" type="button" class="btn btn-outline-normsup"> <span></span>Ajouter un fournisseur</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="table-cont">
        <app-supplier-table #supplierTableComp 
          (infoModal)="openInfoModal($event)"></app-supplier-table>
      </div>
    </div>

  
    <ng-template class="test" #template>
      <div class="modal-header own-modal-header">
        <h4 class="modal-title pull-left" *ngIf="modalState === 'enterSiret'">Ajouter un fournisseur</h4>
        <h4 class="modal-title pull-left" *ngIf="modalState === 'compInfo'">Information sur l'entreprise </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="modalState === 'enterSiret'">
          <div class="row search-company" [ngClass]="{'fade-in': modalState === 'enterSiret', 'fade-away': modalState !== 'enterSiret'}">
            <!-- <span class="title-add-sup">Information sur l'entreprise recherchée</span> -->
            <div class="input-field col s12">
              <label for="company-input">Société</label>
              <input class="form-control" [(ngModel)]="searchCompanyID" (keydown.enter)="searchCompany(searchCompanyID)" #companyInput id="company-input" type="text" data-length="10" appFocus>
              <span class="helper-text">Sirene ou Siret</span>
            </div>
          </div>
          <button (click)="searchCompany(searchCompanyID)" [disabled]="!searchCompanyID" class="btn-primary mb-2 submit-btn" type="submit" name="action">
            <span class="searchText">Rechercher</span>
            <i class="material-icons right">send</i>
          </button>
          <span class="red-err-txt" *ngIf="searchCompany404">Aucun résultat trouvé. Veuillez entrer un siret/siren valide.</span>
        </div>
        <div class="container" *ngIf="modalState === 'compInfo'">
          <div class="row" [ngClass]="{'fade-in': modalState === 'compInfo', 'fade-away': modalState !== 'compInfo'}">
            <form action="#" class="form-style">
                <div>
                  <div style="padding-top: 10px;" class="row">
                    <div class="form-group  col s6">
                      <label class="active" for="denom-legale">Dénomination légale</label>
                      <input id="denom-legale" name="denom" type="text" class="form-control" [(ngModel)]="companyToAdd.denomination" placeholder="Dénomination légale">
                    </div>
                    <div class="form-group col s6">
                      <label class="active" for="siren">Siren</label>
                      <input id="siret" type="text" name="siren" class="form-control" [(ngModel)]="companyToAdd.siren" placeholder="Siren" [disabled]="true">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col s6">
                      <label class="active" for="address">Adresse</label>
                      <input id="address" name="address" type="text" class="form-control" [(ngModel)]="companyToAdd.address" placeholder="Code postal">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col s6">
                      <label class="active" for="code-postal">Code postal</label>
                      <input id="code-postal" name="code-postal" type="text" class="form-control" [(ngModel)]="companyToAdd.postalCode">
                    </div>
                    <div class="form-group col s6">
                      <label class="active" for="city">Ville</label>
                      <input id="city" name="city" type="text" class="form-control" [(ngModel)]="companyToAdd.city" placeholder="Ville">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col s6">
                      <label class="active" for="date-creation">Date de création</label>
                      <input id="date-creation" name="date-creation" type="text" class="form-control" [(ngModel)]="companyToAdd.dateCreation">
                    </div>
                    <div class="form-group col s6">
                      <label class="active" for="class-unite">Domaine d'activité</label>
                      <input id="class-unite" name="class-unite" type="text" class="form-control" [(ngModel)]="companyToAdd.legalUnit" placeholder="Domaine d'activité">
                    </div>
                  </div>
                </div>
                <div class="plus-btn-container">
                  <div class="add-interloc-cont">
                    <span class="add-interloc-txt">Ajouter un interlocuteur</span>
                    <div style="position: relative;">
                      <span style="top: -18px !important" (click)="this.addInterloc = !this.addInterloc;" class="glyphicon glyphicon-plus-sign plus-icn" role="button"></span>
                    </div>
                    <!-- <a style="display: inline-block; background-color: lightblue;" class="btn-floating waves-effect waves-light" (click)="this.addInterloc = !this.addInterloc;"><i style="font-size: 2.5rem;" class="material-icons">add</i></a> -->
                  </div>
                </div>
                <div style="padding-left: 0px !important; padding-right: 0px !important;" class="container add-interloc" *ngIf="addInterloc">
                  <h4 style="padding-bottom: 15px;color: #333;text-align: center;">Information sur l'interlocuteur</h4>
                  <div style="padding-bottom: 10px;" class="row">
                    <div class="input-field  col s6">
                      <label class="active" for="interloc-name">Prénom</label>
                      <input id="interloc-name" name="interloc-name" type="text" class="form-control" [(ngModel)]="interloc.name" placeholder="Prénom">
                    </div>
                    <div class="input-field col s6">
                      <label class="active" for="interloc-lastname">Nom</label>
                      <input id="interloc-lastname" name="interloc-lastname" type="text" class="form-control" [(ngModel)]="interloc.lastname" placeholder="Nom de famille">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <label class="active" for="interloc-phone">Téléphone</label>
                      <input id="interloc-phone" name="interloc-phone" type="text" class="form-control" [(ngModel)]="interloc.phone" placeholder="Numéro de téléphone">
                    </div>
                      <div class="input-field col s6">
                        <label class="active" for="interloc-mail">Email</label>
                        <input id="interloc-mail" name="interloc-mail" type="text" class="form-control" [(ngModel)]="interloc.mail" placeholder="Adresse mail">
                      </div>
                  </div>
                </div>
              <div class="select-comp-but">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <button style="float: right" (click)="addCompany({comp: companyToAdd, interloc: interloc})" [disabled]="(!companyToAdd.denomination || !companyToAdd.address || !companyToAdd.siren || !companyToAdd.dateCreation) || (addInterloc === true && (interloc.name === '' || interloc.lastname === '' || interloc.phone === '' || interloc.mail === ''))" class="mb-2  submit-btn" type="submit" name="action">
                        <span class="searchText">Ajouter</span>
                        <i style="font-size: 22px !important;" class="material-icons right">send</i>
                      </button>
                    </div>
                    <div class="col">
                      <button style="float: left" (click)="hideModal()" class="mb-2 submit-btn" type="submit" name="action">
                        <span class="searchText">Retour</span>
                        <i style="font-size: 22px !important;"  class="material-icons right">send</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #supplierinfo>
      <div class="modal-header own-modal-header">
        <h4 class="modal-title pull-left">Information fournisseur</h4>
      </div>
      <div class="modal-body">
        <div class="card card-style">
          <div class="card-body"><span class="card-text">Nom</span> <span class="supplier-info-text">{{supplierInfo.name}}</span></div>
        </div>
        <div class="card card-style">
          <div class="card-body"><span class="card-text">Siren</span> <span class="supplier-info-text">{{supplierInfo.siren}}</span></div>
        </div>
        <div class="card card-style">
          <div class="card-body"><span class="card-text">Adresse</span> <span class="supplier-info-text">{{supplierInfo.adress}}</span></div>
        </div>
        <div class="card card-style">
          <div class="card-body"><span class="card-text">Date d'ajout</span> <span class="supplier-info-text">{{supplierInfo.dateCrea}}</span></div>
        </div>
      </div>
    </ng-template>
    <ng-template #legalDoc>
      <!-- <div class="modal-header own-modal-header">
        <h4 class="modal-title pull-left">Documents Légaux</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <app-legal-doc-modal (hideModal)="hideModal($event)" (addDocModal)="openInfoModal($event)"></app-legal-doc-modal>
      </div>
      <div class="modal-footer" style="padding: 4px;border-style: none !important;">
      </div>
    </ng-template>
    <ng-template #compDoc>
        <div class="modal-body">
          <app-comp-doc-modal (hideModal)="hideModal($event)" (addDocModal)="openInfoModal($event)"></app-comp-doc-modal>
        </div>
        <div class="modal-footer" style="padding: 4px;border-style: none !important;">
        </div>
    </ng-template>
  </div>
</div>