<app-sidebar
  [navLinks]="[
      {
        id: 'clients',
        navLink: '/supplier/client',
        logoLink: '../../assets/img/menu-suppliers.svg',
        label: 'Clients'
      },
      {
        id: 'users',
        navLink: '/supplier/dashboard/documents',
        logoLink: '../../assets/img/menu-groups.svg',
        label: 'Documents'
      }
    ]"
  [defaultLinkImgCircle]="'../../assets/img/active-link.svg'">
</app-sidebar>

<div *ngIf="authorized">
  <app-header-bar *ngIf="user" [currentUser]="user"></app-header-bar>

  <div [ngClass]="{'sidebar-padding': sidebarVisible}" class="dash-bg invisible-scrollbar">

    <div class="dashboard-supplier__container">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
