<mdb-card class="canvaCard list-card-container" [ngClass]="{
  'no-box-shadow' : noBoxShadow
}">
  <mdb-card-body class="canva-card">
    <div class="card-content">

      <div class="card-header">
        <span class="card-header-title">{{ document.description  }}</span>
      </div>

      <div class="card-btn-container">
        <ng-container
          [ngTemplateOutlet]="status === 'EXPIRED' || status === 'NOT_EXIST' ? expiredBtnTemplate : notExpiredBtnTemplate">
        </ng-container>

        <ng-container
          *ngIf="document.validityDate"
          [ngTemplateOutlet]="cardStatusTemplate">
        </ng-container>
      </div>

    </div>
  </mdb-card-body>
</mdb-card>

<!-- Card status template -->
<ng-template #cardStatusTemplate>
  <span *ngIf="'EXPIRED' === status" class="exp-date-text status-expired">
    Expiré depuis le {{ document.validityDate | date : 'dd/MM/yyyy' }}
  </span>

  <span *ngIf="'EXPIRED_SOON' === status" class="exp-date-text status-expired-soon">
    Expire le {{ document.validityDate | date : 'dd/MM/yyyy' }}
  </span>

  <span *ngIf="'UP_TO_DATE' === status" class="exp-date-text status-up-to-date">
    Expire le {{ document.validityDate | date : 'dd/MM/yyyy' }}
  </span>
</ng-template>


<!-- Btn template for btn 'Déposer' -->
<ng-template #expiredBtnTemplate>

  <button (mouseover)="hover = true" (mouseout)="hover = false" (click)="onClickDropOffBtnEvent(document)" type="button" class="btn btn-primary card-document-btn">
      <span class="card-btn-txt-container">
        <img width="15" height="15" class="button-logo" [src]="hover ? '../../../assets/img/white_upload.svg' : '../../../assets/img/white_upload.svg'" />
        <span>Déposer</span>
      </span>
  </button>
</ng-template>

<!-- Btn template for btn 'Consulter' -->
<ng-template #notExpiredBtnTemplate>
  <button (mouseover)="hover = true" (mouseout)="hover = false" (click)="onclickCardBtnEvent(document)" type="button" class="btn new-btn-normsup card-document-btn">
      <span class="card-btn-txt-container">
        <img width="15" height="15" class="button-logo" [src]="hover ? '../../../assets/img/white-loupe.svg' : '../../../assets/img/loupe.svg'" />
        <span>Consulter</span>
      </span>
  </button>
</ng-template>
