<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" id="tableComp" class="table  pageResize compact" cellspacing="0"
    width="100%" style="height: 100%;">
    <tbody *ngIf="myTable">
      <tr *ngFor="let item of items; let i = index">
        <td style="border-top: none !important;text-align: center;">
          <div style="width: 20%; display: inline-block;">&nbsp;</div>
          <div [ngClass]="{'custom-tbl-border': i !== items.length - 1, 'last-custom-tbl-border': i === items.length - 1 }" class="badge-container content-cont container row-space">
            <div class="row h-100  cent">
              <span class="name-style nopadding">{{item.name}} {{item.lastname}}</span>
            </div>
          </div>
        </td>
        <td class="row-border" [ngClass]="{'noborder': i === items.length - 1}">
          <div class="badge-container content-cont container row-space">
            <div class="row h-100 cent">
              <span class="email-style">{{item.email}}</span>
            </div>
          </div>
        </td>
        <td class="row-border" [ngClass]="{'noborder': i === items.length - 1}">
          <div class="badge-container content-cont container row-space">
            <div class="row h-100 cent">
              <span class="email-style">{{item.org_name}}</span>
            </div>
          </div>
        </td>
        <td class="row-border" [ngClass]="{'noborder': i === items.length - 1}">
          <div class="badge-container content-cont container row-space">
            <div class="row h-100 cent">
              <select class="form-control custom-normsup-select" id="role"  name="role" [(ngModel)]="item.rolename" style="color: #4E5983;">
                <option *ngFor="let c of roles" [ngValue]="c.value" [disabled]="c.name === ' '">{{c.name}}</option>
              </select>
            </div>
          </div>
        </td>
        <td style="border-top: none !important;text-align: center;">
          <div id="util-btns" class="badge-container content-cont">
            <div class="badge-container content-cont container nopadding">
              <div class="row h-100 cent last-table-cell">
                <button style="box-shadow: none;" type="button"
                  class="btn new-btn-normsup default-btn-table" style="color: #4E5983 !important;border: 1px solid #C7E0FF !important;box-shadow: none !important; font-size: 13px !important;">Supprimer</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>