.col-xl-4
  / begin:: Widgets/Audit Log
  .m-portlet.m-portlet--full-height.m-portlet--rounded
    .m-portlet__head
      .m-portlet__head-caption
        .m-portlet__head-title
          %h3.m-portlet__head-text
            Logs d'utilisateurs
      .m-portlet__head-tools
        %ul.nav.nav-pills.nav-pills--brand.m-nav-pills--align-right.m-nav-pills--btn-pill.m-nav-pills--btn-sm{:role => "tablist"}
          %li.nav-item.m-tabs__item
            %a.nav-link.m-tabs__link.active{"data-toggle" => "tab", :href => "#m_widget4_tab1_content", :role => "tab"}
              Aujourd'hui
          %li.nav-item.m-tabs__item
            %a.nav-link.m-tabs__link{"data-toggle" => "tab", :href => "#m_widget4_tab2_content", :role => "tab"}
              Semaine
          %li.nav-item.m-tabs__item
            %a.nav-link.m-tabs__link{"data-toggle" => "tab", :href => "#m_widget4_tab3_content", :role => "tab"}
              Mois
    .m-portlet__body
      .tab-content
        #m_widget4_tab1_content.tab-pane.active
          .m-scrollable{"data-max-height" => "400", "data-scrollable" => "true", :style => "height: 400px; overflow: hidden;"}
            .m-list-timeline.m-list-timeline--skin-light
              .m-list-timeline__items
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--success
                  %span.m-list-timeline__text
                    12 new users registered
                  %span.m-list-timeline__time
                    Just now
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--info
                  %span.m-list-timeline__text
                    System shutdown
                    %span.m-badge.m-badge--success.m-badge--wide
                      pending
                  %span.m-list-timeline__time
                    14 mins
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--danger
                  %span.m-list-timeline__text
                    New invoice received
                  %span.m-list-timeline__time
                    20 mins
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--accent
                  %span.m-list-timeline__text
                    DB overloaded 80%
                    %span.m-badge.m-badge--info.m-badge--wide
                      settled
                  %span.m-list-timeline__time
                    1 hr
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--warning
                  %span.m-list-timeline__text
                    System error -
                    %a.m-link{:href => "#"}
                      Check
                  %span.m-list-timeline__time
                    2 hrs
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--brand
                  %span.m-list-timeline__text
                    Production server down
                  %span.m-list-timeline__time
                    3 hrs
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--info
                  %span.m-list-timeline__text
                    Production server up
                  %span.m-list-timeline__time
                    5 hrs
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--success
                  %span.m-list-timeline__text{:href => ""}
                    New order received
                    %span.m-badge.m-badge--danger.m-badge--wide
                      urgent
                  %span.m-list-timeline__time
                    7 hrs
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--success
                  %span.m-list-timeline__text
                    12 new users registered
                  %span.m-list-timeline__time
                    Just now
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--info
                  %span.m-list-timeline__text
                    System shutdown
                    %span.m-badge.m-badge--success.m-badge--wide
                      pending
                  %span.m-list-timeline__time
                    14 mins
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--danger
                  %span.m-list-timeline__text
                    New invoice received
                  %span.m-list-timeline__time
                    20 mins
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--accent
                  %span.m-list-timeline__text
                    DB overloaded 80%
                    %span.m-badge.m-badge--info.m-badge--wide
                      settled
                  %span.m-list-timeline__time
                    1 hr
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--danger
                  %span.m-list-timeline__text
                    New invoice received
                  %span.m-list-timeline__time
                    20 mins
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--accent
                  %span.m-list-timeline__text
                    DB overloaded 80%
                    %span.m-badge.m-badge--info.m-badge--wide
                      settled
                  %span.m-list-timeline__time
                    1 hr
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--warning
                  %span.m-list-timeline__text
                    System error -
                    %a.m-link{:href => "#"}
                      Check
                  %span.m-list-timeline__time
                    2 hrs
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--brand
                  %span.m-list-timeline__text
                    Production server down
                  %span.m-list-timeline__time
                    3 hrs
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--info
                  %span.m-list-timeline__text
                    Production server up
                  %span.m-list-timeline__time
                    5 hrs
                .m-list-timeline__item
                  %span.m-list-timeline__badge.m-list-timeline__badge--success
                  %span.m-list-timeline__text{:href => ""}
                    New order received
                    %span.m-badge.m-badge--danger.m-badge--wide
                      urgent
                  %span.m-list-timeline__time
                    7 hrs
        #m_widget4_tab2_content.tab-pane
        #m_widget4_tab3_content.tab-pane
  / end:: Widgets/Audit Log
