= form_for Supplier.new, url: suppliers_path, html: { class: 'm-form' } do |f|
  .m-portlet__body
    .m-form__section.m-form__section--first
      .form-group.m-form__group
        %h5 Séléctionnez l'entreprise recherchée :
        = collection_radio_buttons(:supplier, :company_id, @companies, :id, :l1_normalisee) do |b|
          - if current_user.has_company?(b.object)
            %b= b.object.l1_normalisee
            %br
            Cet entreprise est déjà dans votre liste de fournisseur
            %br
          - else
            = b.label(:"data-value" => b.value) { b.radio_button + '&nbsp; &nbsp;'.html_safe + b.text + + ' - Siret: ' + b.object.siret}
            %br
          -# = f.collection_select(:company_id, @companies, :id, :l1_normalisee)

  .m-portlet__foot.m-portlet__foot--fit
    .m-form__actions.m-form__actions
      %button.btn.btn-primary{:type => "submit"} Ajouter
      %a.btn.btn-secondary{href: new_supplier_path} Retour
/ end::Form
