/ begin:: Page
.m-grid.m-grid--hor.m-grid--root.m-page.companies
  = render 'layouts/header'
  / begin::Body
  .m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-page__container.m-body
    .m-grid__item.m-grid__item--fluid.m-wrapper
      / BEGIN: Subheader
      .m-subheader
        .d-flex.align-items-center
          .mr-auto
            %h3.m-subheader__title.m-subheader__title--separator
              Mes statistiques
            %ul.m-subheader__breadcrumbs.m-nav.m-nav--inline
              %li.m-nav__item.m-nav__item--home
                %a.m-nav__link.m-nav__link--icon{:href => "#"}
                  %i.m-nav__link-icon.la.la-home
              %li.m-nav__separator
                \-
              %li.m-nav__item
                %a.m-nav__link{:href => ""}
                  %span.m-nav__link-text
                    Mes statistiques
              %li.m-nav__separator
                \-
              %li.m-nav__item
                %a.m-nav__link{:href => ""}
                  %span.m-nav__link-text
                    Fournisseurs
      .m-content
        .row
          .col-xl-12
            .m-portlet
              .m-portlet__head
                .m-portlet__head-caption
                  .m-portlet__head-title
                    %span.m-portlet__head-icon.m--hide
                      %i.la.la-gear
                    %h3.m-portlet__head-text
                      Conformité fournisseurs
              .row
                = pie_chart({'Conformes': (@suppliers.where(is_valid: true).count), 'Non conformes': (@suppliers.where(is_valid: false).count)})
  / begin::Footer
  = render 'layouts/footer'
  = render 'layouts/sidebar'
