.number-fourn {
    font-family: 'Roboto Bold';
    font-size: 24px;
    color: #4E5983;
    display: block;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.tx-conform {
    color: #4E5983 !important;
    font-family: 'Avenir Medium';
    font-size: 14px;
    position: relative;
    top: 3px;
}