<div style="max-width: 200px;" class="form-group">
    <!-- <label style="color: #333;" for="groupSelect"></label> -->
    <select class="form-control select-grp custom-select" id="groupSelect" [(ngModel)]="groupSelect" (change)="filterByGroup($event.target.value)">
        <option style="text-transform: capitalize;" *ngFor="let c of groups" [ngValue]="c.id" [disabled]="c.id === ''">{{c.name}}</option>
      <!-- <option value="" selected disabled>Choisir un groupe</option>
      <option>A</option>
      <option>B</option>
      <option>C</option> -->
    </select>
  </div>
  <div class="table-responsive">
<table datatable [dtOptions]="dtOptions" id="tableComp" class="table  hover compact" cellspacing="0" width="100%" style="height: 100%;">
  <thead>
    <tr>
      <th class="th-sm">Nom du fournisseur</th>
      <th class="th-sm">Interlocuteur</th>
      <th class="th-sm">Localisation</th>
      <th class="th-sm">Status des documents</th>
      <th class="th-sm">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="myTable">
    <tr *ngFor="let item of itemsToDisplay">
      <td style="cursor: pointer;" (click)="openSupplierInfo(item)">
        <div class="badge-container content-cont container">
          <div class="row h-100  cent">
            <span class="col-9   assign-link nopadding">{{item.denomination | titlecase }}</span>
            <span style="text-align: left;" class="col-2 nopadding"><img class="arw-dwn" src="../../../assets/img/arrow-down@2x.png"/></span>
          </div>
        </div>
      </td>
      <td>
        <div class="badge-container content-cont container">
          <div class="row h-100 cent">
            <span class="name-txt">Prénom Nom</span>
            <span style="text-align: left; color: #4E5983; padding-left: 8px;" class=""><img class="arw-dwn" src="../../../assets/img/blue-arw-dwn@2x.png"/></span>
          </div>
        </div>
      </td>
      <td>
        <div class="badge-container content-cont container">
          <div class="row h-100 cent">
            <!-- TODO Find a way to load flag -->
            <span [ngClass]="item.country != '' ? 'flag-icon-' + item.country : ''" class="flag-icon flag-icon-fr"></span>
            <span class="localisation">{{item.city | titlecase }}</span>
          </div>
        </div>
      </td>
      <td>
        <div class="badge-container content-cont container">
          <div class="row flex-grow-1 h-100" style="margin-bottom: 0px;">
            <div style="padding-right: 5px;" class="doc-cont col-6 h-100" (click)="openLegalDocModal(item)" data-toggle="modal" data-target="#exampleModalCenter">
              <span class="doc-icn-cont">
                <img style="height: 25px;" src="../../../assets/img/legal-icn@2x.png"/>
                <embed class="valid-state-icn valid-icn-shadow" *ngIf="false" src="../../../assets/img/valid-icn.svg"/>
                <embed class="invalid-state-icn valid-icn-shadow" *ngIf="true" src="../../../assets/img/invalid-doc-icn.svg"/>
                <span style="text-decoration: underline;" class="fix-middle align-txt doc-type-txt">Légal</span>
              </span>
            </div>
            <div class="doc-cont col-6 h-100" (click)="openCompDocModal(item)">
              <span class="doc-icn-cont">
                <img style="height: 25px;" src="../../../assets/img/comp-icn@2x.png"/>
                <embed class="valid-state-icn-two valid-icn-shadow" *ngIf="false" src="../../../assets/img/valid-icn.svg"/>
                <embed class="invalid-state-icn-two valid-icn-shadow" *ngIf="true" src="../../../assets/img/invalid-doc-icn.svg"/>
                <span style="text-decoration: underline;" class="fix-middle doc-type-txt">Complémentaire</span>
              </span>
            </div>
            <!-- <span [ngClass]="{'badge-red': !item.lnte}" class="badge badge-style fix-middle"><i class="fas fa-file-alt doc-icn"></i>Lnte</span> -->
          </div>
        </div>
      </td>
      <td>
        <div id="util-btns" class="badge-container content-cont">
          <!-- <span (click)="edit(item)" class="glyphicon glyphicon-pencil edit-icn fix-middle" aria-hidden="true"></span> -->
          <!-- <span style="padding: 0px 5px;" class="fix-middle"></span> -->
          <!-- <span (click)="delete(item)" class="glyphicon glyphicon-trash fix-middle" aria-hidden="true"></span> -->
          <div class="badge-container content-cont container">
              <div class="row h-100 cent">
                <button style="box-shadow: none;" (click)="openModal(template, 'Supplier')" type="button" class="btn btn-outline-normsup default-btn-table">Relancer</button>
              </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
