<div style="max-width: 200px;" class="form-group">
    <label style="color: #333;" for="groupSelect">Choisir un secteur d'activité</label>
    <select class="form-control" id="groupSelect" [(ngModel)]="groupSelect" (change)="filterByGroup($event.target.value)">
      <option> </option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
  </div>
  <div class="table-responsive">
<table datatable [dtOptions]="dtOptions" id="tableComp" class="table table-striped" cellspacing="0" width="100%" style="height: 100%;">
  <thead>
    <tr>
      <th class="th-sm">Nom du fournisseur</th>
      <th class="th-sm">Groupe</th>
      <th class="th-sm">Siret</th>
      <th class="th-sm">Localisation</th>
      <th class="th-sm">Status des documents</th>
      <th class="th-sm">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="myTable">
    <tr *ngFor="let item of itemsToDisplay">
      <td style="cursor: pointer;" (click)="openSupplierInfo(item)">
        <div class="content-cont">
          <span class="assign-link">{{item.denomination | titlecase }}</span>
        </div>
      </td>
      <td>
        <div class="content-cont">
          <span>{{item.group | titlecase }}</span>
        </div>
      </td>
      <td>
        <div class="content-cont">
          <span>{{item.siret}}</span>
        </div>
      </td>
      <td>
        <div class="content-cont">
          <div>
            <span [ngClass]="item.country != '' ? 'flag-icon-' + item.country : ''" class="flag-icon flag-icon-squared"></span>
            <span class="localisation">{{item.city | titlecase }}</span>
          </div>
        </div>
      </td>
      <!-- <td style="padding:0;">
        <div class="badge-container" style="color: green;" *ngIf="item.status"><span
            class="glyphicon glyphicon-ok status-icn fix-middle" aria-hidden="true"></span></div>
        <div class="badge-container" style="color: red;" *ngIf="!item.status"><span
            class="glyphicon glyphicon-remove status-icn fix-middle" aria-hidden="true"></span></div>
      </td> -->
      <td>
        <div class="badge-container content-cont container">
          <div class="row" style="margin-bottom: 0px;">
            <div style="padding-right: 5px;" class="doc-cont col-6" (click)="openLegalDocModal(item)" data-toggle="modal" data-target="#exampleModalCenter">
              <i style="display: block;" [ngClass]="{'invalid-doc': !item.urssaf}"  class="fas fa-file-alt doc-icn"></i>
              <span [ngClass]="{'badge-red': !item.urssaf}" class="badge badge-style fix-middle">Légal</span>
            </div>
            <div class="doc-cont col-6" (click)="openCompDocModal(item)">
              <i style="display: block;" [ngClass]="{'invalid-doc': !item.kbis}" class="fas fa-file-alt doc-icn"></i>
              <span [ngClass]="{'badge-red': !item.kbis}" class="badge badge-style fix-middle">Complémentaire</span>
            </div>
            <!-- <span [ngClass]="{'badge-red': !item.lnte}" class="badge badge-style fix-middle"><i class="fas fa-file-alt doc-icn"></i>Lnte</span> -->
          </div>
        </div>
      </td>
      <td>
        <div id="util-btns" class="badge-container content-cont">
          <!-- <span (click)="edit(item)" class="glyphicon glyphicon-pencil edit-icn fix-middle" aria-hidden="true"></span> -->
          <!-- <span style="padding: 0px 5px;" class="fix-middle"></span> -->
          <span (click)="delete(item)" class="glyphicon glyphicon-trash fix-middle" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
